@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
	background-color: #fff;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #000;
}
#bullets {
	list-style: outside;
	margin-left: 16px;
	margin-top: 8px;
}
#bullets li {
	margin-bottom: 4px;
}
h2 span {
	font-weight: 300;
}
h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	color: #1d78b7;
	line-height: 40px;
	margin-top: 25px;
}
h3 {
   color: #333333;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 8px;

}
a:link {
	color: #1d78b7;
	text-decoration: none;
	font-weight: bold
}
a:visited {
	color: #1d78b7;
	text-decoration: none;
	font-weight: bold
}
a:active {
	color: #1d78b7;
	text-decoration: none;
	font-weight: bold
}
a:hover {
	color: #1d78b7;
	text-decoration: underline;
	font-weight: bold
}
.dbtn {
	width: 100px;
	padding: 10px 10px;
	color: #FFF !important;
	background: #3e434b url(../images/barrow.png) no-repeat 95% center;
	font-weight: 300 !important;
	text-align: left;
	font-size: 20px;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 10px;
}
.dbtn:hover {
	text-decoration: none;
	opacity: 0.8;
	color: #1d78b7;
}