@charset "utf-8";
/* CSS Document */

body {font-size:15px; line-height:20px; font-family: arial; color: #000000; }

#bullets{
	list-style-type: disc;
	margin-left: 16px;
	margin-top: 8px;
}
#bullets li{
margin-bottom: 4px;
}
h2{ font-family: HelveticaNeueLTCom37ThCn; font-size: 30px; color: #1d78b7; line-height:40px; margin-top:25px;}
a:link{color:#1d78b7;text-decoration:none; font-weight:bold}
a:visited{color:#1d78b7;text-decoration:none; font-weight:bold}
a:active{color:#1d78b7;text-decoration:none; font-weight:bold}
a:hover{color:#1d78b7;text-decoration:underline; font-weight:bold}
