/* RESET CSS by http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
body#login, body#registration {
	line-height: 1;
	font-size: 15px;
	line-height: 24px;
}
.pad {
	padding: 15px;
}
.padded, #padded {
	padding: 15px;
}
.register_hacks {
	width: 100%;
}
#content {
	margin: 0px auto;
	background: #eff4f9;
	overflow: hidden;
}
.register_hacks .sg-35 {
	float: none;
}
ol {
	list-style: none;
}
ul
{margin-left: 10px; padding-left: 10px; margin-bottom: 15px;}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
} /* remember to define focus styles! */
ins {
	text-decoration: none;
} /* remember to highlight inserts somehow! */
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} /* tables still need 'cellspacing="0"' in the markup */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
} /* source: http://sonspring.com/journal/clearing-floats */
/* BEGIN SQUARE GRID CODE */
body {
	background-color: #fff;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #333333; /* for RTL add: 'direction: rtl;' */
}
/* your main wrapping div */
#wrapper {
	margin: 0 auto;
	position: relative;
	width: 100%;
}
#container {
	width: 980px; /* essential */
	margin: 0px auto;
}
/* global styling to apply to all columns */
.sg-1, .sg-2, .sg-3, .sg-4, .sg-5, .sg-6, .sg-7, .sg-8, .sg-9, .sg-10, .sg-11, .sg-12, .sg-13, .sg-14, .sg-15, .sg-16, .sg-17, .sg-18, .sg-19, .sg-20, .sg-21, .sg-22, .sg-23, .sg-24, .sg-25, .sg-26, .sg-27, .sg-28, .sg-29, .sg-30, .sg-31, .sg-32, .sg-33, .sg-34, .sg-35, .sg-36 {
	margin: 0px 14px 28px 14px;/*float: left;  for RTL change float to 'right' */
}
/* if you want to have a div as a parent with divs inside - add this class to parent div */
.sgParent {
	margin: 0px;
}
/* essential: width for all columns */
.sg-1 {
	width: 28px
}
.sg-2 {
	width: 56px
}
.sg-3 {
	width: 84px
}
.sg-4 {
	width: 112px
}
.sg-5 {
	width: 140px
}
.sg-6 {
	width: 168px
}
.sg-7 {
	width: 196px
}
.sg-8 {
	width: 224px
}
.sg-9 {
	width: 252px
}
.sg-10 {
	width: 280px
}
.sg-11 {
	width: 308px
}
.sg-12 {
	width: 336px
}
.sg-13 {
	width: 364px
}
.sg-14 {
	width: 392px
}
.sg-15 {
	width: 420px
}
.sg-16 {
	width: 448px
}
.sg-17 {
	width: 476px
}
.sg-18 {
	width: 504px
}
.sg-19 {
	width: 532px
}
.sg-20 {
	width: 560px
}
.sg-21 {
	width: 588px
}
.sg-22 {
	width: 616px
}
.sg-23 {
	width: 644px
}
.sg-24 {
	width: 672px
}
.sg-25 {
	width: 700px
}
.sg-26 {
	width: 728px
}
.sg-27 {
	width: 756px
}
.sg-28 {
	width: 784px
}
.sg-29 {
	width: 812px
}
.sg-30 {
	width: 840px
}
.sg-31 {
	width: 868px
}
.sg-32 {
	width: 896px
}
.sg-33 {
	width: 924px
}
.sg-34 {
	width: 952px
}
.sg-35 {
	width: 980px
}
.sg-36 {
	width: 1000px
}
/* add a dividing border to the right or left simply by addiing one of these classes to a div */
.borderRight {
	border-right: 1px solid #222;
	margin-right: 0px;
	padding-right: 13px;
}
.borderLeft {
	border-left: 1px solid #222;
	margin-left: 0px;
	padding-left: 13px;
}
#login .logo {
	padding-top: 0px;
	padding-bottom: 0px;
	align-content:center;
}
.logo img {
	float: center;
}
#login #wrapper {
	background: #eaeaea;
}
.menu_bar {
	height: 45px;
	width: 100%;
	background: #40444c;
	margin-bottom: 40px;
}
.loginBox {
	margin-bottom: 20px;
}
#loginResponse h3, #forgotResponse h3 {
	font-size: 16px;
	color: #1d78b7;
	margin-bottom: 10px;
}
#forgotErrors, #loginErrors, #errorMsg {
	font-size: 13px;
	color: #C00;
}
.yes {
	display: inline-block;
	margin-right: 40px;
}
.no {
	display: inline-block;
}
.yes span, .no span {
	color: #6d6c6c;
	font-weight: 300;
	font-size: 20px;
	vertical-align: super;
}
.yes img, .no img {
	margin-right: 5px;
	vertical-align: sub;
}
.yes:hover, .no:hover {
	text-decoration: none;
	opacity: 0.8;
	transition: 1s;
}
/* headings */
h1 span, h2 span {
	font-weight: 300;
}
h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	color: #1d78b7;
	margin-bottom: 25px;
	font-weight: bold;
}
#login h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	padding-bottom: 10px;
	color: #1d78b7;
	margin-bottom: 25px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #1d78b7;
	font-weight: bold;
}
h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	color: #1d78b7;
	line-height: 60px;
	margin-top: 25px;
}
h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	color: #1d78b7;
	line-height: 40px;
	margin-bottom: 25px;
	margin-top: 25px;
	font-weight: 400;
}
h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #1d78b7;
	margin-top: 10px;
}
h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #333333;
	font-weight: 600;
	margin-bottom: 8px;
	margin-top: 8px;
}
h6 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #1461ab;
	font-weight: 300;
	margin-bottom: 8px;
}
a:link {
	color: #1d78b7;
	text-decoration: none;
	font-weight: bold
}
a:visited {
	color: #1d78b7;
	text-decoration: none;
	font-weight: bold
}
a:active {
	color: #1d78b7;
	text-decoration: none;
	font-weight: bold
}
a:hover {
	color: #1d78b7;
	text-decoration: underline;
	font-weight: bold;
	transition: 1s;
}
a.yellow:link {
	color: #1d78b7;
	text-decoration: none;
	font-weight: bold;
}
a.yellow:visited {
	color: #f5cb20;
	text-decoration: none;
	font-weight: bold;
}
a.yellow:active {
	color: #f5cb20;
	text-decoration: none;
	font-weight: bold;
}
a.yellow:hover {
	color: #f5cb20;
	text-decoration: none;
	font-weight: bold;
}
.blueheading {
	font-size: 30px;
	color: #1d78b7;
	margin-bottom: 10px;
}
/*navigation */
#top-nav {
	float: right;
}
.top-icons {
	padding-left: 5px;
	padding-top: 20px;
}
/* #main-nav_cont{ float:right; width:580px;} */
#main-nav_cont {
	width: 980px;
	margin: 0px auto;
}
.booklet {
	margin-left: 10px;
	float: right;
}
.booklet:hover {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	transition: 1s;
}
.docmenu #main-nav {
	width: 100%;
}
#main-nav {
	list-style-type: none;
	width: 75%;
	float: left;
}
#main-nav li {
	display: inline;
}
#main-nav li a.first {
	padding-left: 10px;
}
#main-nav li a {
	color: #FFFFFF;
	font-size: 13px;
	padding: 12px 15px 13px 15px;
	text-decoration: none;
	margin-right: 1px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
#main-nav li a:hover, #main-nav li a.active {
	background-color: #30343b;
	color: #b7d2eb;
	text-decoration: none;
	transition: 1s;
}/*
.main-nav_on{
	background-color: #1d78b7;
	background-image: url(../images/nav-on.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding:10px;
} */
/*banner*/
#banner {
	width: 980px;
	height: 350px;
	margin: 0px auto;
}
#bannerd {
	width: 980px;
	margin: 0px auto;
}
#banner .left {
	padding-left: 5px;
	padding-top: 10px;
}
.left {
	width: 500px;
	float: left;
	height: 250px;
}
.line {
	height: 200px;
	width: 2px;
	background-image: url(../images/line-banner.jpg);
	float: left;
	margin: 25px 10px 25px 10px;
}
.right {
	width: 450px;
	float: left;
	padding-top: 25px; /* padding-bottom:25px; */
}
#banner .left_b {
	float: left;
	width: 35%;
}
#banner .right_b {
	float: right;
	width: 62%;
	height: 350px;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTRlMGUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, #ffffff 25%, #e4e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #ffffff), color-stop(100%, #e4e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 25%, #e4e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 25%, #e4e0e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 25%, #e4e0e0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 25%, #e4e0e0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e0e0', GradientType=0 ); /* IE6-8 */
}
#bannerd .left_d {
	float: left;
	width: 49%;
	margin-bottom: 29px;
}
#bannerd .right_d {
	float: right;
	width: 50%;
	text-align: center;
}
#chart1 {
	width: 100% !important;
	height: 300px !important;
}
.track-heading {
	font-size: 26px;
	color: #474d5b;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
/*content */
#content-left {
	float: left;
	margin-right: 25px;
	width: 475px;
}
#content-left p, #content-right p {
	margin-bottom: 15px;
}
#content-right {
	float: left;
	width: 475px;
}
#bullets {
	list-style-image: url(../images/bullet.gif);
	color: #3fa4dc;
	margin-left: 16px;
	margin-top: 8px;
}
#bullets li {
	margin-bottom: 4px;
}
#bullets2 {
	list-style-image: url(../images/bullet2.gif);
	color: #e6e6e6;
	margin-left: 25px;
	margin-top: 8px;
}
#bullets2 li {
	margin-bottom: 4px;
}
/* login content */
#login-content-left {
	float: left;
	margin-right: 90px;
	width: 520px;
	margin-top: 20px;
	margin-left: 30px;
}
#login-content-right {
	float: left;
	width: 320px;
	margin-top: 20px;
}
.blue {
	color: #1d78b7;
}
.bigbtn {
	width: 160px;
	padding: 15px 10px;
	color: #FFF !important;
	background: #3e434b url(../images/barrow.png) no-repeat 95% center;
	font-weight: 600 !important;
	text-align: left;
	font-size: 25px;
	cursor: pointer;
	display: inline-block;
}
.bigbtn:hover {
	text-decoration: none;
	opacity: 0.8;
	color: #1d78b7;
	transition: 1s;
}
.bigbtn span {
	font-weight: 300 !important;
	color: #fff;
}
/* #registration #content-left{float: left; margin-right:10px; width: 300px;}

#registration #content-right{float: left; width: 670px;}
#registration p{ padding-bottom: 10px; }
#registration input{ margin-bottom: 2px; } */

#login .register_hacks #content-left {
	float: left;
	margin-right: 10px;
	margin-top: 0px;
	width: 300px;
}
#login .register_hacks #content-right {
	float: left;
	width: 670px;
	margin-top: 0px;
}
#login .register_hacks p {
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 10px;
}
#login .register_hacks input {
	margin-bottom: 3px;
	width: 260px;
}
#question-left {
	float: left;
	width: 300px;
}
#question-left p {
	padding-bottom: 10px;
}
#question-right input {
	margin-bottom: 6px;
}
#question-right {
	float: left;
	width: 300px;
}
#question-left input, #question-left textarea {
	border: solid 1px #d8d8d8;
	width: 100%;
	padding: 4px;
	color: #1468b2;
}
#askQuestion h3 {
	color: #1468b2;
	font-size: 30px;
	font-weight: 300;
}
#askQuestion h3 span {
	font-weight: 700;
}
/*journal */
#journal {
	width: 980px;
	margin: 0px auto 20px;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTRlMGUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, #ffffff 25%, #e4e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #ffffff), color-stop(100%, #e4e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 25%, #e4e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 25%, #e4e0e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 25%, #e4e0e0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 25%, #e4e0e0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e0e0', GradientType=0 ); /* IE6-8 */
}
#ajaxReturn_b {
 *position:absolute;
	_position: absolute;
	z-index: 200;
	padding: 0px 25px 25px 25px;
}
#ajaxReturn_b h1 i {
	font-style: normal;
	font-weight: 300;
}
#ajaxReturn_b span {
	color: #1d78b7;
	cursor: pointer;
	display: list-item;
	font-weight: bold;
	list-style: none outside none;
	text-decoration: none;
}
.banner-nav-top {
	padding-right: 10px;
	float: left;
}
.banner-nav-left {
	padding-bottom: 15px;
}
.banner-nav-left:hover {
	opacity: 0.8;
	transition: 1s;
}
.journal-left {
	width: 240px;
	float: left;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 25px;
	padding-left: 25px;
}
.journal-right {
	width: 665px;
	float: left;
	padding-top: 25px;
	padding-bottom: 40px;
	padding-right: 25px;
}
.journal-text {
	color: #333333;
	font-size: 12px;
	line-height: 22px;
	display: block;
	font-family: 'Open Sans', sans-serif;
	float: left;
	font-weight: 600; /* margin-left:32px */
}
.table-heading {
	font-family: HelveticaNeueLTCom37ThCn;
	font-size: 30px;
	color: #1d78b7;
	line-height: 30px;
	margin-right: 25px;
}
.table-subheading {
	font-family: HelveticaNeueLTCom37ThCn;
	font-size: 20px;
	color: #e6e6e6;
	line-height: 25px;
	margin-top: 10px;
	font-weight: bold;
}
/*edit profile*/
.profile-table {
	color: #807f7f;
}
.profile-table input, .profile-table select {
	color: #807f7f;
	margin-bottom: 9px;
 *margin-bottom: 8px;
	_margin-bottom: 8px;
}
.profile-table p {
	padding-bottom: 9px;
}
.profile-left {
	width: 50%;
	float: left;
	margin-bottom: 20px;
}
.profile-right {
	width: 50%;
	float: right;
	text-align: right;
	margin-bottom: 20px;
}
.profile-right .btn {
	margin-top: 0px !important;
}
.profile-formR {
	width: 250px;
	float: left;
}
.profile-formL {
	width: 250px;
	color: #807f7f;
}
.profile-formboth {
	width: 320px;
	float: left;
	color: #807f7f;
}
.profile-bmiboth {
	width: 620px;
	float: left;
	color: #807f7f;
	margin-bottom: 25px;
	margin-top: 15px;
}
.progress-formR {
	width: 180px;
	float: left;
	color: #807f7f;
}
.progress-formL {
	width: 150px;
	float: left;
	color: #807f7f;
}
.progress-formboth {
	width: 320px;
	float: left;
	color: #807f7f;
}
.progress-bmiboth {
	width: 620px;
	float: left;
	color: #807f7f;
	margin-bottom: 25px;
	margin-top: 15px;
}
/*journal */

.view-nav {
	padding-right: 5px;
	vertical-align: text-top;
}
.view-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #1d78b7;
	line-height: 25px;
	text-align: right;/* width: 560px; */
}
#edits {
	text-align: right;
	height: 25px;
}
#views {
	text-align: right;
	margin-top: 60px;
	/* float:right; */
	margin-right: 10px;
 *margin-top: 60px;
	_margin-top: 60px;
}
.viewicons {
	vertical-align: middle;
	padding-left: 5px;
	float: left;
	text-align: right;
}
/*icons */
.icons {
	vertical-align: middle;
	padding-right: 5px;
	float: left;
	width: 51px;
}
.icons-text {
	font-size: 20px;
	color: #1d78b7;
	float: left;
	line-height: 45px;
}
.print-icon {
	padding-bottom: 29px;
	padding-top: 15px;
	text-align: right;
	width: 475px;
	padding-left: 354px;
}
/*footer */
#footer {
	height: 23px;
	padding-bottom: 50px;
	margin: 50px auto 0px;
	border-top: 1px solid #cccccc;
	padding-top: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
#footer a {
	text-decoration: none;
	color: #333333;
	font-weight: 300;
}
#footer a:hover {
	text-decoration: underline;
	color: #1d78b7;
}
#foot-left {
	float: left;
	width: 490px;
}
#foot-right {
	float: left;
	text-align: right;
	width: 490px;
}
#ajaxHolder {
	position: relative;
}
#loading {
	z-index: 200;
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #000000;
	/* Theoretically for IE 8 & 9 (more valid) */
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=50);
	/* Older than Firefox 0.9 */
	-moz-opacity: 0.5;
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.5;
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.5;
}
#load_img_div {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 160px;
}
.validation_errors {
	color: #E4494E !important;
	font-size: 13px;
	margin-left: 5px;
}
.validation_success {
	color: #1D9E4A;
	font-size: 13px;
	margin-left: 5px;
}
#bmi h3, #bmi h1, #bmi h4 {
	color: #1d78b7;
	margin-bottom: 30px;
}
#bmi p {
	color: #807f7f;
	margin-bottom: 20px;
	line-height: 20px;
}
#bmi #inputBMI {
	background-color: #807F7F;
	padding: 10px;
	color: #fff;
}
#bmi input {
	padding: 5px;
	font-size: 12px;
	color: #1d78b7;
}
#bmi #inputBMI p {
	color: #fff;
	margin: 0px;
	font-weight: strong;
}
#bmi #bmioutput {
	background: #1d78b7;
	padding: 10px;
}
#bmi #bmioutput #bmiMessage {
	color: #fff;
	font-size: 12px;
}
#bmi #bmioutput p, #bmi #bmioutput h4 {
	color: #fff;
}
#bmi .hide {
	display: none;
}
.chartContainer {
	margin-top: 5px;
}
#login-content-right #loginTable {
	width: 320px;
}
#login-content-right #loginTable td {
	padding-bottom: 10px;
}
#login-content-right #loginTable td input, #ajaxForm input {
	width: 100%;
	padding: 5px;
	font-size: 15px;
	color: #1468b2;
	border: 1px solid #d8d8d8;
}
#ajaxForm select {
	width: 272px;
	padding: 5px;
	font-size: 15px;
	color: #1468b2;
	border: 1px solid #d8d8d8;
	margin-bottom: 5px;
}
#login-content-right #loginTable #loginButton, #login-content-right #loginTable #LoginBtn {
	width: 100px;
	padding: 5px 10px;
	color: #FFF;
	background: #3e434b url(../images/rarrow.png) no-repeat 92% center;
	font-weight: 400;
	text-align: left;
	font-size: 18px;
	cursor: pointer;
}
#login-content-right #loginTable #loginButton:hover, #LoginBtn:hover {
	opacity: 0.8;
	transition: 1s;
}
#forgotpassButton {
	width: 100%;
	padding: 4px 10px 5px;
	color: #FFF;
	background: #3e434b url(../images/key.png) no-repeat 95% center;
	font-weight: 400;
	text-align: left;
	font-size: 18px;
	cursor: pointer;
	display: inline-block;
}
#forgotpassButton:hover {
	text-decoration: none;
	opacity: 0.8;
	transition: 1s;
}
.btn {
	width: 100px;
	padding: 5px 10px;
	color: #FFF !important;
	background: #3e434b url(../images/rarrow.png) no-repeat 92% center;
	font-weight: 400 !important;
	text-align: left;
	font-size: 18px;
	cursor: pointer;
	text-decoration: none !important;
	display: inline-block;
	border: 0px;
}
.btn:hover {
	text-decoration: none !important;
	opacity: 0.8;
	transition: 1s;
}
#ajaxForm input[type="submit"] {
	font-size: 18px;
	margin-top: 20px;
	width: 120px;
}
.btnf {
	width: 100px;
	padding: 5px 10px;
	color: #FFF !important;
	background: #3e434b url(../images/rarrow.png) no-repeat 95% center;
	font-weight: 400;
	text-align: left;
	font-size: 18px;
	cursor: pointer;
}
.btnf:hover {
	text-decoration: none !important;
	opacity: 0.8;
	transition: 1s;
}
.btnl {
	padding: 5px 30px 5px 10px;
	color: #FFF !important;
	background: #3e434b url(../images/rarrow.png) no-repeat 95% center;
	font-weight: 300 !important;
	text-align: left;
	font-size: 18px;
	cursor: pointer;
	display: inline-block;
}
.btnl:hover {
	text-decoration: none !important;
	opacity: 0.8;
	transition: 1s;
}
.btnd {
	padding: 5px 30px 5px 10px;
	color: #FFF !important;
	background: #3e434b url(../images/rarrow.png) no-repeat 93% center;
	font-weight: 400 !important;
	text-align: left;
	font-size: 18px;
	cursor: pointer;
}
.btnd:hover {
	text-decoration: none !important;
	opacity: 0.8;
	transition: 1s;
}

.btnc {
	padding: 5px 30px 5px 10px;
	background: #3e434b;
	color: #FFF !important;
	font-weight: 400 !important;
	text-align: left;
	font-size: 18px;
	cursor: pointer;
}
.btnd:hover,
.btnc:hover {
	text-decoration: none !important;
	opacity: 0.8;
}

.forgotpass {
	position: relative;
}
#mealplan h3, #mealplan h1, #mealplan h4 {
	color: #1d78b7;
	margin-bottom: 30px;
}
#mealplan p {
	color: #807f7f;
	margin-bottom: 20px;
	line-height: 20px;
}
#mealplan input {
	padding: 5px;
	font-size: 12px;
	color: #1d78b7;
}
#mealplan #mealplanoutput {
	background: #1d78b7;
	padding: 10px;
}
#mealplan #mealplanoutput #mealplanMessage {
	color: #fff;
	font-size: 12px;
}
#mealplan #mealplanoutput h3 {
	margin: 0px;
}
#mealplan #mealplanoutput p, #mealplan #mealplanoutput h3, #mealplan #mealplanoutput a {
	color: #fff;
}
#mealplan #mealplanoutput a {
	text-decoration: underline;
}
#mealplan .hide {
	display: none;
}
.report_input {
	background: none;
	width: 74px;
	border: none;
	color: #807F7F;
	font-weight: bold;
	text-align: right;
}
#sitemap ul li a {
	color: #fff;
	font-weight: normal;
}
#graph_indicator {
	background: url(../images/bmi-indicate.png) center bottom no-repeat;
	padding-bottom: 30px;
	margin-left: 45px;
	font-size: 18px;
	font-weight: 300;
	color: #333333;
	float: left;
	padding-right: 5px;
	margin-bottom: 30px;
}
.graph_icons {
	float: right;
	margin-right: 28px;
	margin-top: -20px;
	width: 110px;
}
.graph_icons a {
	cursor: pointer;
}
.graph_icons a:hover {
	opacity: 0.8;
	transition: 1s;
}
/*Responsive Code*/
.left-edit {
	float: left;
	width: 45%;
}
.right-edit {
	float: right;
	width: 45%;
}
.jqplot-xaxis {
	left: 5px !important;
	width: auto !important;
}
.left-r {
	width: 35%;
}
.right-r {
}
.jqplot-yaxis div:last-child {
	top: 0px !important;
}
span {
	color: #1d78b7;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}
/*New styles*/
.header {
	background-color: #eaeaea;
}
.header #header {
	padding-top: 20px;
}
.header #header .sg-5 {
	float: right;
	margin-bottom: 0px;
	text-align: right;
	margin-right: 0px;
}
.header #header .sg-10 {
	margin-bottom: 0px;
	margin-left: 0px;
}
.header #header .sg-10 a {
	color: #666666;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	padding-right: 10px;
	text-decoration: none;
}
.header #header .sg-10 a:hover {
	color: #1d78b7;
	transition: 1s;
}
.header #header .sg-10 h3 {
	margin-top: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 23px;
	font-weight: 300;
}
#inputBMI span {
	color: #FFF;
	font-weight: normal;
}
#bmioutput .btn {
	width: 165px;
	background-position: 97% center;
}
.patient h3 {
	margin-top: 0px;
}
.patient .section {
	padding-top: 26px;
	padding-bottom: 40px;
}

 @media only screen and (min-width: 340px) and (max-width: 599px) {
.progress-formL table tr td.devide {
	width: 150px !important;
}
}
 @media only screen and (max-width: 599px) {
#wrapper, #container, .sg-35, .sg-25, .sg-11, #main-nav_cont, .boxes, .download {
	width: 100%;
}
#container {
	margin-left: 0px !important;
}
#login #login-content-right {
	width: 98%;
}
#login #content {
	margin-left: 0px !important;
	margin-right: 0 !important;
}
#login-content-right #loginTable td input, #ajaxForm input {
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 0px;
	margin-left: 5px;
}
#login .logo {
	text-align: center;
}
.logo img {
	float: none;
}
.yes {
	margin-bottom: 10px;
}
.header #header {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 20px;
	margin-bottom: 10px;
}
#forgotpassButton {
	padding: 4px 10px 6px;
}
.sg-9 {
	text-align: center;
	margin-left: 0px !important;
	width: 100%;
	margin: 0px;
}
#login-content-left {
	width: auto;
	margin-right: 10px;
	margin-left: 10px;
}
#content {
	width: 100%;
}
#top-nav {
	float: none;
	text-align: center;
}
.menu_bar {
	margin-bottom: 100px;
}
h1 {
	font-size: 21px;
}
h2 {
	font-size: 22px;
	line-height: 10px;
}
h3 {
	font-size: 20px;
	line-height: 24px;
}
h4 {
	font-size: 30px;
}
#banner .left_b, #banner .right_b {
	width: 100%;
	float: none;
}
.boxes .sg-8 {
	float: none !important;
	margin-bottom: 15px !important;
	margin-right: 0px !important;
	margin-left: 10px !important;
	margin-top: 15px !important;
	display: inline-block;
}
.section, .tsection, .sectionc {
	padding: 40px 10px;
}
.header #header .sg-10 {
	margin-right: 0px;
}
.header #header .sg-5 {
	width: 120px;
	margin: 0px;
}
.fleft {
	float: none;
	width: 100%;
	text-align: center;
	padding-left: 0px;
}
.fright {
	float: none;
	width: 100%;
	padding-left: 0px;
}
.accordion h3 {
	font-size: 16px;
}
.dbtn {
	width: 88%;
	margin-left: 10px;
	font-size: 14px;
}
#askQuestion h3 {
	font-size: 24px;
}
.download h1, .download h5 {
	padding-left: 10px;
}
.bottoml {
	margin-left: 5px;
}
#banner {
	height: auto;
	width: 95% !important;
	padding-bottom: 10px;
}
#banner .right {
	float: none;
	background-color: #EAE6E5;
	width: 100%;
	margin-right: 10px;
	padding-bottom: 40px;
}
#banner .left, #banner .line {
	display: none;
}
#both {
	margin-right: 10px;
}
#content-left {
	width: 95%;
	margin-left: 8px;
	margin-right: 0px;
	padding-bottom: 20px !important;
	float: none;
	padding-top: 10px;
}
#content-right {
	width: 95%;
	margin-left: 8px;
	margin-right: 0px;
	padding-bottom: 20px !important;
	float: none;
}
#journal {
	width: 95%;
	margin-left: 8px;
	margin-right: 0px;
	float: none;
}
.graph_icons {
	display: block;
}
#graph_indicator {
	background-position: left bottom;
	display: block !important;
}
.track-heading {
	font-size: 28px;
	padding-left: 10px;
}
#edits ul li {
	padding-left: 1px !important;
}
.progress-formL table tr td {
	/*	display: inline-block !important;
	width: 100%;
	padding-left: 20px;*/
	display: inline-block !important;
	float: left;
	width: auto;
}
.progress-formL table tr td.label {
	width: 120px !important;
}
.progress-formL {
	width: 100%;
}
#foot-left, #foot-right {
	width: 100%;
	float: none;
	text-align: center;
	padding-top: 10px;
}
.print-icon {
	width: 100%;
	text-align: left;
	padding-left: 10px;
}
.journal-left {
	float: none;
}
.journal-right {
	width: 100%;
	padding-right: 0px;
	padding-left: 5px;
}
#bmi {
	padding: 5px;
}
#edits {
	clear: both;
	height: 100px !important;
	position: static !important;
	text-align: right;
}
#chart1 {
	width: 100% !important;
}
.entrybox, .editbox, .changebox {
	left: 0px !important;
}
.editbox1, .editbox2, .editbox3 {
	background: #fff !important;
	margin-top: 12px;
}
.loginContainer {
	text-align: center;
}
.loginBoxes {
	top: 39px !important;
}
#latestEntry {
	text-align: center !important;
}
#edits ul li {
	width: 95% !important;
}
#edits div {
	float: none !important;
}
.profile-right {
	width: 100%;
	text-align: center;
}
.profile-table {
	width: 95%;
}
.profile-table td {
	width: 100%;
	display: inline-block;
}
.profile-table td input {
	padding: 5px;
	width: 90%;
}
#graph_indicator {
	display: inline-table;
	width: 100%;
	text-align: left;
	margin-bottom: 15px;
	padding-right: 0px !important;
}
.left-edit {
	float: none;
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
}
.right-edit {
	float: none;
	width: 100%;
	padding: 5px;
}
#bmi #bmiHeight, #bmi #bmiKG {
	width: 95%;
}
#mealplan {
	padding: 10px;
}
#login table {
	margin-left: 10px;
	width: 90% !important;
}
#login h1 {
	font-size: 30px;
}
.left-r {
	display: inline-block;
	width: 100%;
}
.right-r {
	display: inline-block;
	width: 100%;
}
.smallt {
	font-size: 11px;
	display: inline-block;
	width: 100%;
}
.defaultTheme {
	width: 80% !important;
	background: #2B6EA2 !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px !important;
	left: auto !important;
	margin-left: 20px !important;
}
#TB_window {
	left: auto !important;
	margin-top: 0 !important;
	width: 95% !important;
	right: 5px !important;
	top: 10% !important;
}
#TB_iframeContent {
	width: 100% !important;
	height: 300px !important;
	overflow-y: scroll; /* has to be scroll, not auto *//*-webkit-overflow-scrolling: touch;*/
}
#TB_iframeContent #copy {
	width: 90% !important;
}
.report_input {
	width: 85px;
}
#bannerd, .boxes {
	width: 100% !important;
}
#bannerd .right_d img {
	width: 100% !important;
}
#bannerd .right_d {
	width: 97%;
	padding: 5px;
}
#bannerd .left_d {
	width: 97%;
	padding: 5px;
}
.menu_bar {
	height: auto;
}
.boxes {
	margin: 0px;
}
.journal-left {
	width: 100%;
	padding: 0px;
}
#graph_indicator {
	float: none;
	margin: 0px;
}
#ajaxReturn_b {
	padding: 0px;
}
#login-content-right #loginTable td input, #ajaxForm input {
	margin-left: 0px;
	width: 85%;
}
.profile-right {
	float: none;
}
.shorter {
	width: 82% !important;
	padding: 3px !important;
}
#bmi h2 {
	margin-bottom: 10px;
}
#bmi input {
	margin-bottom: 10px;
	display: table;
}
}
 @media only screen and (min-width: 600px) and (max-width: 767px) {
#wrapper, #container, .sg-35, .sg-11, #main-nav_cont, .download, .boxes {
	width: 100%;
}
.sg-9 {
	text-align: left;
	margin-left: 15px !important;
	width: 40%;
	margin: 0px;
	float: left;
}
.sg-25 {
	text-align: left;
	margin-left: 15px !important;
	width: 40%;
	margin: 0px;
	float: right;
}
.sg-11 {
	width: 45% !important;
}
.sg-11 img {
	width: 100%;
}
#login-content-left {
	width: 90%;
	margin-right: 0px;
	margin-left: 0px;
}
#login .logo {
	text-align: center;
}
.logo img {
	float: none;
}
#content {
	width: 96%;
	padding-left: 10px;
	padding-right: 10px;
}
#banner .left_b, #banner .right_b {
	width: 100%;
	float: none;
}
.boxes .sg-8 {
	float: none;
	margin-bottom: 15px;
	margin-right: 0px;
	margin-left: 10px;
}
.section, .tsection, .sectionc {
	padding: 40px 10px;
}
.header #header .sg-10 {
	margin-right: 0px;
}
.header #header .sg-5 {
	width: 120px;
	margin: 0px;
}
.fleft {
	float: none;
	width: 100%;
	text-align: center;
	padding-left: 0px;
}
.fright {
	float: none;
	width: 100%;
	padding-left: 0px;
}
.accordion h3 {
	font-size: 16px;
}
.dbtn {
	width: 88%;
	margin-left: 10px;
	font-size: 14px;
}
#askQuestion h3 {
	font-size: 24px;
}
.download h1, .download h5 {
	padding-left: 10px;
}
.bottoml {
	margin-left: 5px;
}
.boxes {
	width: 97% !important;
	display: inline-block;
	margin-left: 5px !important;
}
.header #header {
	padding: 20px 10px;
}
#container {
	margin: 0px !important;
}
#top-nav {
	float: none;
	text-align: center;
}
.main-nav_cont {
	margin-top: 20px;
}
.menu_bar {
	margin-bottom: 100px;
}
h1 {
	font-size: 21px;
}
h2 {
	font-size: 22px;
	line-height: 10px;
}
h3 {
	font-size: 20px;
	line-height: 24px;
}
h4 {
	font-size: 30px;
}
#banner {
	height: auto;
	width: 95% !important;
}
#banner .right {
	float: none;
	background-color: #EAE6E5;
	width: 100%;
	margin-right: 10px;
	padding-bottom: 40px;
}
#banner .left, #banner .line {
	display: none;
}
#both {
	margin-right: 10px;
}
#content-left {
	width: 95%;
	margin: 0px;
	padding-bottom: 20px;
	float: none;
}
#content-right, #journal {
	width: 95%;
	margin-left: 15px;
	float: none;
}
.track-heading {
	font-size: 28px;
	padding-left: 10px;
}
#foot-left, #foot-right {
	width: 49%;
	float: left;
	text-align: center;
	padding-top: 10px;
}
.print-icon {
	width: 100%;
	text-align: left;
	padding-left: 10px;
}
.journal-left {
	float: none;
}
.journal-right {
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
}
#bmi {
	padding: 5px;
}
#edits {
	clear: both;
	height: 100px !important;
	position: static !important;
	text-align: right;
}
#chart1 {
	width: 100% !important;
}
.entrybox, .editbox, .changebox {
	left: 0px !important;
}
.editbox1, .editbox2, .editbox3 {
	background: #fff !important;
	margin-top: 12px;
}
.loginContainer {
	text-align: center;
}
.loginBoxes {
	top: 39px !important;
}
#latestEntry {
	text-align: center !important;
}
#edits ul li {
	width: 99% !important;
}
#edits div {
	float: none !important;
}
.profile-right {
	width: 100%;
	text-align: center;
}
.profile-table {
	width: 95%;
}
.profile-table td {
	width: 100%;
}
.profile-table td input {
	padding: 5px;
}
#graph_indicator {
	display: inline-table;
	width: 100%;
	text-align: left;
	margin-bottom: 15px;
	padding-right: 0px !important;
}
.left-edit {
	float: none;
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
}
.right-edit {
	float: none;
	width: 100%;
	padding: 5px;
}
#mealplan {
	padding: 10px;
}
.defaultTheme {
	width: 200px !important;
	background: #2B6EA2 !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px !important;
}
#TB_window {
	display: block;
	margin-left: -285px !important;
	margin-top: -349px !important;
	width: 95% !important;
}
#TB_iframeContent {
	width: 100% !important;
	height: 600px !important;
}
.label {
	width: 120px !important;
}
#bannerd {
	width: 100% !important;
}
#bannerd .right_d img {
	width: 100% !important;
}
#bannerd .right_d {
	float: none;
	width: 97%;
	padding: 5px;
}
#bannerd .left_d {
	float: none;
	width: 97%;
	padding: 5px;
}
#graph_indicator {
	margin-left: 5px;
	display: block !important;
	background-position: left bottom;
}
#edits ul li {
	padding-left: 2px !important;
}
.profile-right {
	float: none !important;
}
#bmi h2 {
	margin-bottom: 10px;
}
#bmi input {
	margin-bottom: 10px;
	display: table;
}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
#wrapper, #container, .sg-35, .sg-11, #content, .download {
	width: 100%;
}
.boxes {
	display: inline-block !important;
	width: 98% !important;
	margin-left: 10px !important;
}
.header #header {
	padding: 20px 10px;
}
#main-nav_cont {
	width: 100%;
}
#main-nav li a.first {
	padding-left: 10px;
}
.sg-9 {
	text-align: left;
	margin-left: 15px !important;
	width: 40%;
	margin: 0px;
	float: left;
}
.sg-25 {
	text-align: left;
	margin-left: 15px !important;
	width: 40%;
	margin: 0px;
	float: right;
}
.sg-11 {
	width: 29% !important;
}
.sg-11 img {
	width: 100%;
}
#login-content-left {
	width: 50%;
	margin-right: 20px;
	margin-left: 20px;
}
#content {
	padding-left: 10px;
	padding-right: 10px;
	width: 96%;
}
#top-nav {
	float: none;
	text-align: center;
}
.main-nav_cont {
	margin-top: 20px;
}
h1 {
	font-size: 21px;
}
h2 {
	font-size: 22px;
	line-height: 10px;
}
h3 {
	font-size: 20px;
	line-height: 24px;
}
h4 {
	font-size: 30px;
}
#banner {
	height: auto;
	width: 98% !important;
}
#banner .right {
	float: none;
	background-color: #EAE6E5;
	width: 100%;
	margin-right: 10px;
	padding-bottom: 40px;
}
#banner .left, #banner .line {
	display: none;
}
#both {
	margin-right: 10px;
}
#content-left {
	width: 95%;
	margin: 0px;
	padding-bottom: 20px;
	float: none;
}
#content-right, #journal {
	width: 98%;
	margin-left: 8px;
	float: none;
}
.track-heading {
	font-size: 28px;
	padding-left: 10px;
}
#foot-left, #foot-right {
	width: 47%;
	float: left;
	text-align: left;
	padding-top: 10px;
	margin-left: 20px;
	text-align: center !important;
}
.print-icon {
	width: 100%;
	text-align: left;
	padding-left: 10px;
}
.journal-right {
	width: 68%;
	padding-right: 0px;
	padding-left: 5px;
}
.journal-left {
	width: 22%;
}
#chart1 {
	width: 100% !important;
}
#bmi {
	padding: 5px;
}
.profile-right {
	width: 100%;
	text-align: center;
}
.profile-table {
	width: 95%;
}
.profile-table td {
	width: 100%;
}
.profile-table td input {
	padding: 5px;
}
#graph_indicator {
	display: block;
	width: 100%;
	text-align: left;
	margin-bottom: 15px;
	padding-right: 0px !important;
	background-position: left bottom;
	margin-left: 0px;
	margin-top: 30px;
}
.left-edit {
	float: none;
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
}
.right-edit {
	float: none;
	width: 100%;
	padding: 5px;
}
#edits ul li {
	padding: 12px 8px 0 6px !important
}
.entrybox, .editbox, .changebox {
	right: -22px !important;
}
.defaultTheme {
	width: 200px !important;
	background: #2B6EA2 !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px !important;
}
#TB_window {
	display: block;
	margin-left: -380px !important;
	margin-top: -280px !important;
	width: 95% !important;
}
#TB_iframeContent {
	width: 100% !important;
	height: 550px !important;
}
.label {
	width: 120px !important;
}
.download h1, .download h5 {
	padding-left: 10px;
}
#bannerd {
	width: 97% !important;
	margin-left: 10px;
}
#bannerd .right_d img {
	width: 100% !important;
}
.profile-right {
	float: none !important;
}
#bmi h2 {
	margin-bottom: 10px;
}
#bmi input {
	margin-bottom: 10px;
	display: table;
}
}
/*Responsive Code*/

img {
    max-width: 100%;
}

#new-header {
	background: #f7f8f9;
}

.new-header #content {
	background-color:#f7f8f9;
}

.footer-img {
    width: 50%;
    margin-top: 20px;
}

.innova img {
    width: 65%;
}

.innova {
    float: right;
}
