@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
.boxes {
	margin: 40px auto 35px;
	width: 980px;
}
.boxes .sg-8 {
	float: left;
	margin: 0px 20px 0px 0px;
}
.boxes .sg-8 a {
	font-size: 18px;
	font-weight: 300;
	color: #6d6c6c;
}
.boxes .sg-8 a:hover {
	color: #1461ab;
	text-decoration: none;
	transition: 1s;
}
.boxes .sg-8 a img {
	vertical-align: sub;
	padding-right: 10px;
}
.container {
	background: #EFF4F9;
	widows: 100%;
}
.container p {
	font-size: 14px;
	margin-bottom: 15px;
}
.section {
	padding-top: 40px;
	border-bottom: solid 1px #ccc;
	padding-bottom: 30px;
}
.section h2, .sectionc h2 {
	margin-top: 0px;
	line-height: normal;
	margin-bottom: 25px;
}
.sectionc {
	padding-top: 40px;
	padding-bottom: 40px;
}
.sectionc:first-child {
	padding-bottom: 0px;
}
.tsection {
	padding-top: 40px;
}
.container .section:last-child {
	border-bottom: none;
}
.list li {
	list-style: outside !important;
	margin-left: 25px !important;
	margin-bottom: 20px !important;
}
#latestEntry, #loginButton, #changeButton {
	cursor: pointer;
}
.journal-left h1 {
	font-size: 31px;
	margin-bottom: 34px;
}
.accordion {
	margin: 1em 0
}
.accordion h3 {
	font-size: 20px;
	color: #7d7d7e;
	cursor: pointer;
	margin: 0;
	padding: 4px 10px 4px 20px;
	border-top: 1px solid #ccc;
	font-weight: 300;
}

.accordion h3:before {
    content: url(../images/plus.png);
    position: relative;
    margin-right: 10px;
    vertical-align: top;
}

.accordion h3 span {
	font-weight: 700;
	color: #7d7d7e;
}
.accordion h3.current {
	cursor: default;
	border-bottom: none;
	color: #1d78b7;
}
.accordion h3.current span {
	color: #1d78b7;
}
.accordion div.pane {
	padding: 30px 10px
}
.accordion div.pane p {
	margin-bottom: 15px;
}
.accordion h4 {
	font-weight: 300;
	margin-bottom: 20px;
}
.accordion:last-child {
	border-bottom: 1px solid #ccc;
}
.fleft {
	float: left;
	padding-left: 20px;
	width: 20%;
	display: block !important;
}
.fright {
	float: right;
	width: 75%;
	display: block !important;
}
.left_b p, .bottoml p, .left_d p {
	margin-bottom: 20px;
}
#dosage H5 {
	color: #FFF;
}
.botlinks a {
	display: inline-block;
	margin-right: 50px;
}
.botlinks a img {
	vertical-align: bottom;
}
.bottoml h3 {
	color: #333333;
	font-size: 18px;
}
.bottoml a:hover {
	opacity: 0.8;
	transition: 1s;
}
.download {
	margin: 40px auto 35px;
	width: 980px;
}
.dbtn {
	width: 450px;
	padding: 10px 10px;
	color: #FFF !important;
	background: #3e434b url(../images/barrow.png) no-repeat 97% center;
	font-weight: 600 !important;
	text-align: left;
	font-size: 20px;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 10px;
}
.dbtn:hover {
	text-decoration: none;
	opacity: 0.8;
	color: #1d78b7;
	transition: 1s;
}
.dbtn span {
	font-weight: 300 !important;
	color: #fff;
}
#sitemap ul li a {
	color: #333333 !important;
}
.editfield {
	margin-bottom: 10px;
}
.editfield p {
	padding-bottom: 5px;
}
.editprofile {
	margin: 0px;
	line-height: normal;
	font-weight: 300;
}
.editprofile span {
	display: inline !important;
	font-weight: 700;
}
.shorter {
	width: 87% !important;
}
.full_line {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	display: block;
}
#bmi h2, .nomarg, #mealplan h2 {
	margin-top: 0px;
	padding-top: 4px !important;
}
.padded, #padded {
	padding: 15px;
}
.ui-dialog {
	margin-top: 30px;
}
.rmm {
	display: block;
	position: relative;
	width: 100%;
	padding: 0px;
	text-align: center;
}
.rmm * {
	-webkit-tap-highlight-color: transparent !important;
	font-family: Arial;
}
.rmm a {
	color: #ebebeb;
	text-decoration: none;
}
.rmm .rmm-main-list, .rmm .rmm-main-list li {
	margin: 0px;
	padding: 0px;
}
.rmm ul {
	display: block;
	width: auto !important;
	margin: 0 auto !important;
	overflow: hidden;
	list-style: none;
}
/* sublevel menu - in construction */
.rmm ul li ul, .rmm ul li ul li, .rmm ul li ul li a {
	display: none !important;
	height: 0px !important;
	width: 0px !important;
}
/* */


.rmm .rmm-main-list li {
	display: inline;
 padding:padding:0px;
	margin: 0px !important;
}
.rmm-toggled {
	display: none;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: 0 auto !important;
}
.rmm-button:hover {
	cursor: pointer;
	transition: 1s;
}
.rmm .rmm-toggled ul {
	display: none;
	margin: 0px !important;
	padding: 0px !important;
}
.rmm .rmm-toggled ul li {
	display: block;
	margin: 0 auto !important;
}
/* MINIMAL STYLE */

.rmm.minimal a {
	color: #333333;
}
.rmm.minimal a:hover {
	opacity: 0.7;
	transition: 1s;
}
.rmm.minimal .rmm-main-list li a {
	display: inline-block;
}
.rmm.minimal .rmm-toggled {
	width: 95%;
	min-height: 45px;
}
.rmm.minimal .rmm-toggled-controls {
	display: block;
	height: 45px;
	color: #fff;
	text-align: left;
	position: relative;
	cursor: pointer;
}
.rmm.minimal .rmm-toggled-title {
	position: relative;
	top: 13px;
	left: 9px;
	font-size: 16px;
	color: #fff;
}
.rmm.minimal .rmm-button {
	display: block;
	position: absolute;
	right: 9px;
	top: 7px;
}
.rmm.minimal .rmm-button span {
	display: block;
	margin: 4px 0px 4px 0px;
	height: 4px;
	background: #1d78b7;
	width: 25px;
}
.rmm.minimal .rmm-toggled ul li a {
	display: block;
	width: 100%;
	text-align: center;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid #dedede;
	color: #1d78b7;
	background: #fff;
}
.rmm.minimal .rmm-toggled ul li:first-child a {
	border-top: 1px solid #dedede;
}
#doc_form input, #doc_form select {
	border: 1px solid #d8d8d8;
	color: #1468b2;
	font-size: 15px;
	padding: 5px;
	width: 250px;
	margin-bottom: 15px;
}
#doc_form input[type="submit"] {
	font-size: 18px;
	margin-top: 20px;
	width: 120px;
}
.justify
{text-align:justify;}
#edits ul li
{list-style: none;}