<style>
#graphProcess {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 300;
}
</style>
<div id="graphProcess">
	<p>Processing Graph...</p>
</div>
<script>
	$(document).ready(function(){
		var imgelem = $('#chart1').jqplotToImageElem();
		var imageSrc = imgelem.src;

		$.post( "print_chart.php", { src: imageSrc}).done(function( data ) {
			$('#graphProcess').html('<p><a href="/'+data+'" target="_blank">Click to download graph</a></p>');
		});
	});
</script>