<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<style>
				p {
					padding-left: 20px;
					padding-right: 20px;
					color:#e6e6e6;
					font-family:Arial, Helvetica, sans-serif;
					font-size:12px;
				}
			</style>
	</head>
	<body>
		<table width="600" border="0" cellspacing="0" cellpadding="0">
			  <tr>
				<td bgcolor="#21252b"><img src="http://www.ilivelite.co.za/images/banner.gif" width="600" height="167" /></td>
			  </tr>
			  <tr>
				<td bgcolor="#21252b">
				<p><strong>Dear {name},</strong></p>

			<p>Thank you for registering, your account has been created and you can now log in.</p>

			<p>Username: {email}</p>
			<p>Password: {password}</p>

			<p><a href='http://www.ilivelite.co.za/doctors/' style="color: #1d78b7;">Click here</a> to visit the website.</p>
			<p><strong>Disclaimer</strong><br />
			Note that although we reference this resource, we cannot guarantee any success and cannot take responsibility for the impact or effect of any of this advice on you. You have to discuss your specific health status (e.g. health status, allergies, sensitivities, etc), any other medication you may be taking or treatment you are having, and specific requirements of your body with a dietician and/or your doctor, to find what is appropriate for your circumstances.</p>
			<p>&nbsp;</p>
			</td>
			  </tr>
		</table>
	</body>
</html>