<div id="content-left" style="width: 650px; margin-right:50px;">
      <h3>Thank you for registering with the iLiveLite program!</h3>
      <p>This website will be your support on your weight loss journey.</p>
      <p>&nbsp;</p>
      <p>You should have received an email confirming your registration, please activate your account with the link provided before logging in.</p>
    </div> 
<div id="content-right" style="width: 250px;"><h1>LOGIN</h1>
      <table width="250" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="92" height="39">Username:</td>
          <td width="158" align="right"><input style="width:160px;" name="input" type="text" /></td>
        </tr>
        <tr>
          <td height="39">Password:</td>
          <td align="right"><input style="width:160px;" type="text" name="textfield" id="textfield" /></td>
        </tr>
        <tr>
          <td height="39" colspan="2"><img src="images/forgot-pass.gif" width="203" height="27" /></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td align="right"><img src="images/submit-btn.gif" width="82" height="23" /></td>
        </tr>
      </table>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>
        <label></label>      
        </p>
    </div> 
{include file='load_ajax_ticket.tpl'}