
<div class="sg-11" ><a class="thickbox" href="templates/ilivelite-howtodealwithsetbacks.html?keepThis=true&TB_iframe=true&height=550&width=770" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11','','images/tip-howOv.gif',1)"><img src="images/tip-how.gif" name="Image11" width="270" height="78" border="0" id="Image11" /></a></div>
<div class="sg-11" ><a class="thickbox" href="templates/ilivelite-managinghunger.html?keepThis=true&TB_iframe=true&height=550&width=770" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image12','','images/tip-manageOv.gif',1)"><img src="images/tip-manage.gif" name="Image12" width="282" height="78" border="0" id="Image12" /></a></div>
<div class="sg-11" ><a class="thickbox" href="templates/ilivelite-stressrelieftips.html?keepThis=true&TB_iframe=true&height=550&width=770" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image13','','images/tip-stressOv.gif',1)"><img src="images/tip-stress.gif" name="Image13" width="211" height="78" border="0" id="Image13" /></a></div>
<div id="footer" class="sg-35">
  <div id="foot-left"><a href="disclaimer/">Legal Notice</a> | <a href="sitemap/">Sitemap</a> | <a href="privacy/">Privacy Policy</a></div>
  <div id="foot-right">&copy; {php} echo date("Y"); {/php}, ilivelite. All rights reserved</div>
</div>
</div>
<!-- end #container -->
</div>
<!-- end #wrapper -->
</body></html>