<div class="clear"></div>
<div id="banner">  
  	<img src="images/exercise_img.jpg" width="483" height="250" class="left"/> 
    	<div class="line"></div> 
        <div class="right"><p class="track-heading">track your progress</p></div> 
  </div><!--end banner-->
    </div><!-- end top section -->   
    
     
    <div id="content" class="sg-35">
      <h1>DISCLAIMER</h1>
      <p>Note that although we reference this resource, we cannot guarantee any success and cannot take responsibility for the impact or effect of any of this advice on you. You have to discuss your specific health status (e.g. health status, allergies, sensitivities, etc), any other medication you may be taking or treatment you are having, and specific requirements of your body with a dietician and/or your doctor, to find what is appropriate for your circumstances.
</p>
<h3>TERMS AND CONDITIONS FOR THE USE OF THIS SITE:</h3>
<p>No person should access or use this site without having received and consented to medical treatment by your doctor. </p>
<p>&nbsp;</p>
<p>This site does not give any medical treatment or medical advice and should not be used as a substitute for professional healthcare advice. We cannot make any promises as to the success or failure of medical treatment or how successful the weight loss support, advice, nutritional, exercise or similar advice or explanations and/or the tools on our site would be. </p>
<p>&nbsp;</p>
<p>Healthcare is a complex matter and persons react differently to treatment and when using advice, such as those we provide on this site. We strongly advise that you go back to your doctor should you have any doubts, or feel uncertain about anything. If you feel, health-wise, that you are not okay, please go to your doctor for medical advice, -support and/or -treatment.</p>
<p>&nbsp;</p>
<p>Should you have any query in relation to this site, its contents or services, please contact iNova at: </p>
<p>&nbsp;</p>
<p>iNova Pharmaceuticals (South Africa) (Pty) Ltd</p>
<p>15e Riley Road, Bedfordview, Johannesburg, 2008 </p>
<p>Tel: 011 021 4155</p>
<p>E-mail <a href="mailto:ilivelite@inovapharma.co.za">ilivelite@inovapharma.co.za</a></p>

    <div class="clear"></div>
    </div><!-- end body section -->  