<div class="journal-left">
  <h1>MY JOURNAL</h1>
  <p><a href="editprofile/" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image10','','images/edit-profileOv.png',1)"><img src="images/edit-profile.png" name="Image10" width="125" height="27" border="0" class="banner-nav-left" id="Image10" /></a> </p>
  <p><a href="report/" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image14','','images/print-reportsOv.png',1)"><img src="images/print-reports.png" name="Image14" width="150" height="31" border="0" class="banner-nav-left" id="Image14" /></a> </p>
  <p><a href="mealplan/" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image15','','images/download-mealplanOv.png',1)"><img src="images/download-mealplan.png" name="Image15" width="201" height="31" border="0" class="banner-nav-left" id="Image15" /></a></p>
  <p><a href="bmi/" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image16','','images/bmi-calculatorOv.png',1)"><img src="images/bmi-calculator.png" name="Image16" width="159" height="25" border="0" class="banner-nav-left" id="Image16" /></a></p>
  <p><a href="journal/" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image117','','images/backOv.png',1)"><img src="images/back.png" name="Image117" width="155" height="31" border="0" class="banner-nav-left" id="Image117" /></a></p>
</div>
