<div class="clear"></div>
<div id="banner">  
  	<img src="images/exercise_img.jpg" width="483" height="250" class="left"/> 
    	<div class="line"></div> 
        <div class="right"><p class="track-heading">track your progress</p></div> 
  </div><!--end banner-->
    </div><!-- end top section -->   
    
     
    <div id="content" class="sg-35">
      <h1>Sitemap</h1>
      <div id="sitemap">
        <ul style="margin: 10px; list-style-type:circle;">
            <li><a href="http://www.ilivelite.co.za/journal/">My Journal</a></li>
            <li><a href="http://www.ilivelite.co.za/logout/">Logout</a></li>
            <li><a href="http://www.ilivelite.co.za/contact/">Contact</a></li>
            <li><a href="http://www.ilivelite.co.za/getstarted/">Getting Started</a></li>
            <li><a href="http://www.ilivelite.co.za/journal/">My Journal</a></li>
            <ul style="margin: 10px; list-style-type:square;">
                <li><a href="http://www.ilivelite.co.za/#editBox">edit latest entry</a></li>
                <li><a href="http://www.ilivelite.co.za/#changeBox">change date</a></li>
                <li><a href="http://www.ilivelite.co.za/editprofile/">edit profile</a></li>
                <li><a href="http://www.ilivelite.co.za/report/">email reports</a></li>
                <li><a href="http://www.ilivelite.co.za/mealplan/">download mealplan</a></li>
                <li><a href="http://www.ilivelite.co.za/bmi/">BMI calculator</a></li>
            </ul>
            <li><a href="http://www.ilivelite.co.za/productinfo/">Product Info</a></li>
            <li><a href="http://www.ilivelite.co.za/nutrition/">Nutrition</a></li>
            <li><a href="http://www.ilivelite.co.za/exercise/">Exercise</a></li>
            <li><a href="http://www.ilivelite.co.za/faqs/">FAQ's</a></li>
            <li><a href="http://www.ilivelite.co.za/disclaimer/">Disclaimer</a></li>
            <li><a href="http://www.ilivelite.co.za/sitemap/">Sitemap</a></li>
            <li><a href="http://www.ilivelite.co.za/privacy/">Privacy Policy</a></li>
          </ul>
      </div>
    <div class="clear"></div>
    </div><!-- end body section -->  