.accordions {
    max-width: 90%;
    float: none;
    list-style: none;
    padding: 0;
    margin: 75px auto;
    display: block !important;
}

.fa {
    font-size:25px;
    vertical-align: middle;
}
.accordions:after {
    content: '';
    display: table;
    clear: both;
}
.accordions input[type=radio] {
    display:none;
}
.accordions label {
    display: block;
    float: left;
    width: 33.3333%;
    color: #ccc;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    cursor: pointer;
    box-shadow: inset 0 2px #ccc;
    border-bottom: 2px solid #ccc;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
    transition: all 0.5s;
}
.accordions label span {
    display: none;
    vertical-align: middle;
    color:#ccc;
    font-weight:300;
}
.accordions label i {
    padding: 5px;
    margin-right: 0;
}
.accordions label:hover {
    color: #fff;
    box-shadow: inset 0 4px #1d78b7;
    background:#1d78b7;
}
.accordions label:hover span{
    color: #fff;
}
.tab-content {
    display: none;
    width: 100%;
    float: left;
    padding: 25px 0;
    box-sizing: border-box;
}

.tab-content * {
    -webkit-animation: scale 0.7s ease-in-out;
    -moz-animation: scale 0.7s ease-in-out;
    animation: scale 0.7s ease-in-out;
}
@keyframes scale {
  0% {
    transform: scale(0.9);
    opacity: 0;
    }
  50% {
    transform: scale(1.01);
    opacity: 0.5;
    }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.section .accordion div.pane {
    padding:10px 10px;
}
.accordions [id^="tab"]:checked + label {
    background: #1d78b7;
    color: #fff;
    box-shadow: inset 0 4px #1d78b7;
}
.accordions [id^="tab"]:checked + label span{
    color: #fff;
}
#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3 {
    display: block !important;
}

@media (min-width: 768px) {
    .accordions i {
        padding: 5px;
        margin-right: 10px;
    }
    .accordions label span {
        display: inline-block;
    }
    .accordions {
    max-width: 100%;
    margin: 0 auto;
    }
}

.measurements-table {
    width: 100%;
    text-align: center;
} 

.measurements-table td,
.measurements-table th {
    padding:10px;
}

.measurements-table th {
    background:;
}

.measurements-table tr:nth-child(odd) {
    background: #1d78b7;
    color:#ffffff;
}

label.patients {
    padding: 10px;
    font-size: 18px;
}

label i {
    padding-right:10px;
}