/* RESET CSS by http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; border:0; outline:0;	font-size:100%; vertical-align:baseline; background:transparent;}
body {
	line-height:1;
	background-image: url(../images/footer-bg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
body#login, body#registration {
	line-height:1;
	background-image: url(../images/header.gif);
	background-repeat: repeat-x;
	background-position: top;
	font-size: 15px;
	line-height: 24px;
}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
:focus {outline:0;} /* remember to define focus styles! */
ins {text-decoration:none;} /* remember to highlight inserts somehow! */
del {text-decoration:line-through;} 
table {border-collapse:collapse; border-spacing:0;} /* tables still need 'cellspacing="0"' in the markup */
.clear { clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;} /* source: http://sonspring.com/journal/clearing-floats */

/* fonts */
@font-face {
    font-family: 'HelveticaLTStdBoldCondensed';
    src: url('../fonts/helveticaltstd-boldcond-webfont.eot');
    src: url('../fonts/helveticaltstd-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaltstd-boldcond-webfont.woff') format('woff'),
         url('../fonts/helveticaltstd-boldcond-webfont.ttf') format('truetype'),
         url('../fonts/helveticaltstd-boldcond-webfont.svg#HelveticaLTStdBoldCondensed') format('svg');
    font-weight: strong;
    font-style: strong;

}

@font-face {
    font-family: 'HelveticaNeueLTStd45Light';
    src: url('../fonts/helveticaneueltstd-lt-webfont.eot');
    src: url('../fonts/helveticaneueltstd-lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-lt-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltstd-lt-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-lt-webfont.svg#HelveticaNeueLTStd45Light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLTCom37ThCn';
    src: url('../fonts/helveticaneueltcom-thcn_0-webfont.eot');
    src: url('../fonts/helveticaneueltcom-thcn_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltcom-thcn_0-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltcom-thcn_0-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltcom-thcn_0-webfont.svg#HelveticaNeueLTCom37ThCn') format('svg');
    font-weight: thin;
    font-style: thin;


}
/* fonts */

/* BEGIN SQUARE GRID CODE */
body {background-color:#21252b; font-size:14px; line-height:20px; font-family: HelveticaNeueLTStd45Light; color: #e6e6e6; /* for RTL add: 'direction: rtl;' */ }

/* your main wrapping div */
#wrapper{ margin: 0 auto; position:relative; overflow: hidden; width: 994px;  }
#container{width:1008px; /* essential */ margin-left:-7px;}

/* global styling to apply to all columns */
.sg-1, .sg-2, .sg-3, .sg-4, .sg-5, .sg-6, .sg-7, .sg-8, .sg-9, .sg-10, .sg-11, .sg-12, .sg-13, .sg-14, .sg-15, .sg-16, .sg-17, .sg-18, .sg-19, .sg-20, .sg-21, .sg-22, .sg-23, .sg-24, .sg-25, .sg-26, .sg-27, .sg-28, .sg-29, .sg-30, .sg-31, .sg-32, .sg-33, .sg-34, .sg-35
{margin:0px 14px 28px 14px; float:left; /* for RTL change float to 'right' */ }

/* if you want to have a div as a parent with divs inside - add this class to parent div */
.sgParent{margin:0px;}

/* essential: width for all columns */
.sg-1{width:28px} .sg-2{width:56px} .sg-3{width:84px} .sg-4{width:112px} .sg-5{width:140px} .sg-6{width:168px} .sg-7{width:196px} .sg-8{width:224px} .sg-9{width:252px} .sg-10{width:280px} .sg-11{width:308px} .sg-12{width:336px} .sg-13{width:364px} .sg-14{width:392px} .sg-15{width:420px} .sg-16{width:448px} .sg-17{width:476px} .sg-18{width:504px} .sg-19{width:532px} .sg-20{width:560px} .sg-21{width:588px} .sg-22{width:616px} .sg-23{width:644px} .sg-24{width:672px} .sg-25{width:700px} .sg-26{width:728px} .sg-27{width:756px} .sg-28{width:784px} .sg-29{width:812px} .sg-30{width:840px} .sg-31{width:868px} .sg-32{width:896px} .sg-33{width:924px} .sg-34{width:952px} .sg-35{width:980px}

/* add a dividing border to the right or left simply by addiing one of these classes to a div */
.borderRight{border-right:1px solid #222; margin-right:0px; padding-right:13px;}
.borderLeft  {border-left:1px solid #222; margin-left:0px; padding-left:13px;}

.logo{padding-top: 30px;}
#login .logo{padding-top: 20px; padding-bottom: 60px; }
#registration .logo{padding-top: 20px; padding-bottom: 40px; }

/* headings */
h1{
	font-family: HelveticaLTStdBoldCondensed;
	font-size: 40px;
	color: #1d78b7;
	margin-bottom: 25px;
	margin-top:15px;
}
#login h1{
	font-family: HelveticaLTStdBoldCondensed;
	font-size: 40px;
	padding-bottom:10px;
	color: #1d78b7;
	margin-bottom: 25px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #1d78b7;
}

.white{ color: #e6e6e6}
h2{ font-family: HelveticaNeueLTCom37ThCn; font-size: 60px; color: #1d78b7; line-height:60px; margin-top:25px;}
h3{ font-family: HelveticaNeueLTCom37ThCn; font-size: 30px; color: #e6e6e6; line-height:40px; margin-bottom:25px; margin-top:25px;}
h5{ font-family: HelveticaNeueLTCom37ThCn; font-size: 20px; color: #e6e6e6; line-height:25px; margin-bottom:15px; margin-top:15px;}
h4{ font-family: HelveticaNeueLTCom37ThCn; font-size: 50px; color: #1d78b7; margin-top:10px;}
/*navigation */
#top-nav{float: right; text-align:right;}
.top-icons{padding-left: 5px; padding-top: 20px;}

#main-nav_cont{ float:right; width:875px; margin-bottom: 5px;}

#main-nav{
list-style-type: none;
height: 29px;
}

#main-nav li{
float: left;
}

/*banner*/
#banner{
	background: #ffffff;
	width:980px;
	height:250px;
}
.left{ width: 526px; float: left; height: 250px;}
.line{height: 200px; width: 2px; background-image:url(../images/line-banner.jpg); float: left; margin:20px;}
.right{width: 397px; float: left; padding-top:25px; padding-bottom:25px;}
.track-heading{ font-size: 48px; color: #1d78b7; font-family: HelveticaNeueLTCom37ThCn; }

/*content */
#content-left{float: left; margin-right:25px; width: 475px;}

#content-right{float: left; width: 475px;}


#bullets{
	list-style-image: url(../images/bullet.gif);
	color: #3fa4dc;
	margin-left: 16px;
	margin-top: 8px;
}
#bullets li{
margin-bottom: 4px;
}

/* login content */
#login #content-left{float: left; margin-right:50px; width: 600px; margin-top: 20px;}

#login #content-right{float: left; width: 300px; margin-top: 20px;}
.blue{color: #1d78b7;}

#registration #content-left{float: left; margin-right:10px; width: 300px;}

#registration #content-right{float: left; width: 670px;}
#registration p{ padding-bottom: 10px; }
#registration input{ margin-bottom: 2px; }

#question-left{ float: left; width: 100px;}
#question-left p{ padding-bottom:10px;}
#question-right input{ margin-bottom:6px;}
#question-right{float: left; width: 200px;}
/*journal */
#journal{
background-color: #e9e6e6; width:980px;}
	
.banner-nav-top{ padding-right: 10px;float: left;}
.banner-nav-left{ padding-bottom: 15px;}
.journal-left{ width: 240px; float: left; padding-top:25px; padding-bottom:25px; padding-right:25px; padding-left:25px;}
.journal-right{width: 665px; float: left; padding-top:25px; padding-bottom:25px; padding-right:25px; color:#807f7f;}
.journal-text{ color: #8b8a8a; font-size: 14px; line-height:25px; display:block; width: 200px; font-family:HelveticaNeueLTStd45Light; float: left; font-weight: bold;}

/*edit profile*/
.profile-left{width:340px; float: left;margin-bottom:20px; }
.profile-right{width:315px; float: left; text-align:right; margin-bottom:20px; }

.profile-formR{ width: 180px; float: left; color:#807f7f; }
.profile-formL{ width: 150px; float: left; color:#807f7f;}
.profile-formboth{ width: 320px; float: left; color:#807f7f;}
.profile-bmiboth{ width: 650px; float: left; color:#807f7f; margin-bottom:20px; margin-top:15px;}
.profile-formR p,.profile-formL p{ padding-bottom: 10px; }
.profile-formR input, .profile-formR select, .profile-formL input, .profile-formL select{ margin-bottom: 6px; }
/*journal */

a.blue:link{color:#1d78b7;text-decoration:none; font-weight:bold}
a.blue:visited{color:#1d78b7;text-decoration:none; font-weight:bold}
a.blue:active{color:#1d78b7;text-decoration:none; font-weight:bold}
a.blue:hover{color:#1d78b7;text-decoration:none; font-weight:bold}

.view-nav{padding-right:5px; vertical-align:text-top;}
.view-text{
	font-family: HelveticaLTStdBoldCondensed;
	font-size: 20px;
	color: #1d78b7;
	line-height: 25px;
text-align:right;
		width: 560px;
	float:left;
}
#edits{ text-align: right; height: 25px; }
#views{ text-align: right; width: 658px; margin-top: 10px;}
.viewicons{
	vertical-align:middle;
	padding-left: 5px;
	float: left;
	text-align:right;
}
/*icons */
.icons{
	vertical-align:middle;
	padding-right: 5px;
	float: left;
	width: 51px;
}
.icons-text a{ font-size: 20px; color: #1d78b7; float: left; line-height:45px; text-decoration:none;}
.icons-text a:hover{ font-size: 20px; color: #e6e6e6; float: left; line-height:45px;text-decoration:underline;}

.print-icon{	padding-bottom: 29px;
	padding-top:15px;
	text-align: right;
	width: 475px;
	padding-left: 354px;}
/*footer */
#footer{ height: 23px;
padding-top: 150px;
padding-bottom: 50px;}
#footer a{ text-decoration:none;
color: #e6e6e6;}
#footer a:hover{ text-decoration:underline;
color: #1d78b7;}
#foot-left{float: left; width: 490px;}
#foot-right{float: left; text-align:right;width: 490px;}

.img_align{
	vertical-align:middle;
}

form div {
	height: 30px;
}

form label {
	float: left;
	width: 250px;
}

#errorMsg {
	color: red;
	font-weight: bold;
	font-size: 12px;
	display: none;
}
