/* tooltip styling */
.tooltip {
	display:none;
	/*background:url(http://static.flowplayer.org/tools/img/tooltip/black_arrow_big.png);*/
	background:url(../images/tooltip1.png);
	height:121px;
	width:310px;
	font-size:11px;
	color:#fff;
	padding-top: 25px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
	line-height: 14px;
}

/* a .label element inside tooltip */
.tooltip .label {
	color:yellow;
	width:35px;
}

.tooltip a {
	color:#ad4;
	font-size:11px;
	font-weight:bold;
}
