#bar { width:100%; height:35px; padding:15px 0; background:url(../images/bar.png) repeat-x; }
/* #container { width:960px; margin:0 auto; } */

/*-------LOGIN STARTS HERE -------*/

/* Login Container (default to float:right) */
.loginContainer {
    position:relative;
    /* float:right; */
    font-size:17px;
	font-family: HelveticaNeueLTCom37ThCn;
}

.loginBoxes {
	width:272px;
	height:238px;
    position:absolute;
    top:27px;
    display:none;
    z-index:100;
	text-align: left;
	line-height: 27px;
}

.editbox {
	width:272px;
	height:238px;
	right:-15px;
	background:url(../images/popup/edit_box-bg_new.png) no-repeat;
}
.entrybox {
	width:272px;
	height:238px;
	right:-12px;
	background:url(../images/popup/enter_prog-box-bk.png) no-repeat;
}
.changebox {
	width:255px;
	height:166px;
	right:-12px;
	background:url(../images/popup/change_box-bg2.png) no-repeat;
}

/* .back_active_1 { background: url(../images/edit_box_top.png) no-repeat; }
.back_active_2 { background: url(../images/enter_prog-box-top.png) no-repeat; }
.back_active_3 { background: url(../images/change_box-top.png) no-repeat; } */
.editbox1 { background: url(../images/edit_box_top.png) no-repeat; }
.editbox2 { background: url(../images/enter_prog-box-top.png) no-repeat; }
.editbox3 { background: url(../images/change_box-top.png) no-repeat; }

/* A Line added to overlap the border */
.editbtns.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}

/* Login Form */
#loginForm, #editForm, #changeForm {
    margin-top:0px;
    /* background:#FFF; */
    padding:16px;
	color:#807F7F;
}

#loginForm fieldset, #editForm fieldset, #changeForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

/* Default Input */
#loginForm input, #editForm input, #changeForm input { width:50px; }

/* Forgot your password */
#loginForm span, #editForm span, #changeForm span {
    /* text-align:center; */
    display:block;
    padding:7px 0 4px 0;
}

#loginForm span a, #editForm span a, #changeForm span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;
}

input:focus {
    outline:none;
}

#edits div {float:left;}

.submt_btn {
	float:right;
	margin-top:14px;
	margin-bottom:14px;
}
.close_btn {
	float:left;
	margin-top:14px;
	margin-bottom:14px;
}

.entry_screen {
	padding-top:14px;
	position:relative;
}
#edits ul li {
	float:left;
	padding: 12px 0 0 15px;
}

.chart_title_container {
	position:relative;
}
.title_div {
	background:url(../images/graph-key.png) no-repeat;
	position:absolute;
	z-index:56;
	right:32px;
	top:9px;
	width:131px;
	height:69px;
	color:#1D78B7;
	padding:13px 0px 0px 0px;
	text-align:center;
	font-family: HelveticaNeueLTCom37ThCn;
	font-size:24px;
	font-weight:bold;
}