@charset "utf-8";
/* CSS Document */

body {background-color:#21252b; font-size:15px; line-height:20px; font-family: HelveticaNeueLTStd45Light; color: #e6e6e6; }

@font-face {
    font-family: 'HelveticaNeueLTStd45Light';
    src: url('../fonts/helveticaneueltstd-lt-webfont.eot');
    src: url('../fonts/helveticaneueltstd-lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-lt-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltstd-lt-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-lt-webfont.svg#HelveticaNeueLTStd45Light') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'HelveticaNeueLTCom37ThCn';
    src: url('../fonts/helveticaneueltcom-thcn_0-webfont.eot');
    src: url('../fonts/helveticaneueltcom-thcn_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltcom-thcn_0-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltcom-thcn_0-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltcom-thcn_0-webfont.svg#HelveticaNeueLTCom37ThCn') format('svg');
    font-weight: thin;
    font-style: thin;


}
#bullets{
	list-style-image: url(../images/bullet.gif);
	margin-left: 16px;
	margin-top: 8px;
}
#bullets li{
margin-bottom: 4px;
}
h2{ font-family: HelveticaNeueLTCom37ThCn; font-size: 30px; color: #1d78b7; line-height:40px; margin-top:25px;}
h3{font-family: HelveticaNeueLTCom37ThCn; font-size: 20px; color: #e6e6e6; line-height:25px; margin-top:25px;}
a:link{color:#1d78b7;text-decoration:none; font-weight:bold}
a:visited{color:#1d78b7;text-decoration:none; font-weight:bold}
a:active{color:#1d78b7;text-decoration:none; font-weight:bold}
a:hover{color:#1d78b7;text-decoration:underline; font-weight:bold}
