/* RESET CSS by http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
	background-image: url(../images/footer-bg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
body#login, body#registration {
	line-height: 1;
	background-image: url(../images/header.gif);
	background-repeat: repeat-x;
	background-position: top;
	font-size: 15px;
	line-height: 24px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
} /* remember to define focus styles! */
ins {
	text-decoration: none;
} /* remember to highlight inserts somehow! */
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} /* tables still need 'cellspacing="0"' in the markup */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
} /* source: http://sonspring.com/journal/clearing-floats */
/* fonts */
@font-face {
	font-family: 'HelveticaLTStdBoldCondensed';
	src: url('../fonts/helveticaltstd-boldcond-webfont.eot');
	src: url('../fonts/helveticaltstd-boldcond-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaltstd-boldcond-webfont.woff') format('woff'), url('../fonts/helveticaltstd-boldcond-webfont.ttf') format('truetype'), url('../fonts/helveticaltstd-boldcond-webfont.svg#HelveticaLTStdBoldCondensed') format('svg');
	font-weight: strong;
	font-style: strong;
}
@font-face {
	font-family: 'HelveticaNeueLTStd45Light';
	src: url('../fonts/helveticaneueltstd-lt-webfont.eot');
	src: url('../fonts/helveticaneueltstd-lt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneueltstd-lt-webfont.woff') format('woff'), url('../fonts/helveticaneueltstd-lt-webfont.ttf') format('truetype'), url('../fonts/helveticaneueltstd-lt-webfont.svg#HelveticaNeueLTStd45Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueLTCom37ThCn';
	src: url('../fonts/helveticaneueltcom-thcn_0-webfont.eot');
	src: url('../fonts/helveticaneueltcom-thcn_0-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneueltcom-thcn_0-webfont.woff') format('woff'), url('../fonts/helveticaneueltcom-thcn_0-webfont.ttf') format('truetype'), url('../fonts/helveticaneueltcom-thcn_0-webfont.svg#HelveticaNeueLTCom37ThCn') format('svg');
	font-weight: thin;
	font-style: thin;
}
/* fonts */

/* BEGIN SQUARE GRID CODE */
body {
	background-color: #21252b;
	font-size: 15px;
	line-height: 20px;
	font-family: HelveticaNeueLTStd45Light;
	color: #e6e6e6; /* for RTL add: 'direction: rtl;' */
}
/* your main wrapping div */
#wrapper {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	width: 994px;
}
#container {
	width: 1008px; /* essential */
	margin-left: -7px;
}
/* global styling to apply to all columns */
.sg-1, .sg-2, .sg-3, .sg-4, .sg-5, .sg-6, .sg-7, .sg-8, .sg-9, .sg-10, .sg-11, .sg-12, .sg-13, .sg-14, .sg-15, .sg-16, .sg-17, .sg-18, .sg-19, .sg-20, .sg-21, .sg-22, .sg-23, .sg-24, .sg-25, .sg-26, .sg-27, .sg-28, .sg-29, .sg-30, .sg-31, .sg-32, .sg-33, .sg-34, .sg-35 {
	margin: 0px 14px 28px 14px;
	float: left; /* for RTL change float to 'right' */
}
/* if you want to have a div as a parent with divs inside - add this class to parent div */
.sgParent {
	margin: 0px;
}
/* essential: width for all columns */
.sg-1 {
	width: 28px
}
.sg-2 {
	width: 56px
}
.sg-3 {
	width: 84px
}
.sg-4 {
	width: 112px
}
.sg-5 {
	width: 140px
}
.sg-6 {
	width: 168px
}
.sg-7 {
	width: 196px
}
.sg-8 {
	width: 224px
}
.sg-9 {
	width: 252px
}
.sg-10 {
	width: 280px
}
.sg-11 {
	width: 308px
}
.sg-12 {
	width: 336px
}
.sg-13 {
	width: 364px
}
.sg-14 {
	width: 392px
}
.sg-15 {
	width: 420px
}
.sg-16 {
	width: 448px
}
.sg-17 {
	width: 476px
}
.sg-18 {
	width: 504px
}
.sg-19 {
	width: 532px
}
.sg-20 {
	width: 560px
}
.sg-21 {
	width: 588px
}
.sg-22 {
	width: 616px
}
.sg-23 {
	width: 644px
}
.sg-24 {
	width: 672px
}
.sg-25 {
	width: 700px
}
.sg-26 {
	width: 728px
}
.sg-27 {
	width: 756px
}
.sg-28 {
	width: 784px
}
.sg-29 {
	width: 812px
}
.sg-30 {
	width: 840px
}
.sg-31 {
	width: 868px
}
.sg-32 {
	width: 896px
}
.sg-33 {
	width: 924px
}
.sg-34 {
	width: 952px
}
.sg-35 {
	width: 980px
}
/* add a dividing border to the right or left simply by addiing one of these classes to a div */
.borderRight {
	border-right: 1px solid #222;
	margin-right: 0px;
	padding-right: 13px;
}
.borderLeft {
	border-left: 1px solid #222;
	margin-left: 0px;
	padding-left: 13px;
}
.logo {
	padding-top: 30px;
}
#login .logo {
	padding-top: 20px;
	padding-bottom: 60px;
}
#login .register_hack_logo .logo {
	padding-top: 20px;
	padding-bottom: 40px;
}
/* headings */
h1 {
	font-family: HelveticaLTStdBoldCondensed;
	font-size: 40px;
	color: #1d78b7;
	margin-bottom: 25px;
	margin-top: 15px;
}
#login h1 {
	font-family: HelveticaLTStdBoldCondensed;
	font-size: 40px;
	padding-bottom: 10px;
	color: #1d78b7;
	margin-bottom: 25px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #1d78b7;
}
h2 {
	font-family: HelveticaNeueLTCom37ThCn;
	font-size: 60px;
	color: #1d78b7;
	line-height: 60px;
	margin-top: 25px;
}
h3 {
	font-family: HelveticaNeueLTCom37ThCn;
	font-size: 30px;
	color: #e6e6e6;
	line-height: 40px;
	margin-bottom: 25px;
	margin-top: 25px;
}
h4 {
	font-family: HelveticaNeueLTCom37ThCn;
	font-size: 50px;
	color: #1d78b7;
	margin-top: 10px;
}
h5 {
	font-family: HelveticaNeueLTCom37ThCn;
	font-size: 22px;
	color: #807F7F;
	font-weight: bolder;
	margin-bottom: 8px;
}
h6 {
	font-family: HelveticaNeueLTCom37ThCn;
	font-size: 22px;
	color: #e6e6e6;
	;
	font-weight: bolder;
	margin-bottom: 4px;
	line-height: 25px
}
a:link {
	color: #1d78b7;
	text-decoration: none;
	font-weight: bold
}
a:visited {
	color: #1d78b7;
	text-decoration: none;
	font-weight: bold
}
a:active {
	color: #1d78b7;
	text-decoration: none;
	font-weight: bold
}
a:hover {
	color: #1d78b7;
	text-decoration: underline;
	font-weight: bold
}
a.yellow:link {
	color: #1d78b7;
	text-decoration: none;
	font-weight: bold
}
a.yellow:visited {
	color: #f5cb20;
	text-decoration: none;
	font-weight: bold
}
a.yellow:active {
	color: #f5cb20;
	text-decoration: none;
	font-weight: bold
}
a.yellow:hover {
	color: #f5cb20;
	text-decoration: none;
	font-weight: bold
}
.blueheading {
	font-family: HelveticaNeueLTCom37ThCn;
	font-size: 30px;
	color: #1d78b7;
	margin-bottom: 10px;
}
/*navigation */
#top-nav {
	float: right;
}
.top-icons {
	padding-left: 5px;
	padding-top: 20px;
}
/* #main-nav_cont{ float:right; width:580px;} */
#main-nav_cont {
	float: right;
	width: 924px;
	margin-bottom: 5px;
}
.booklet {
	margin-left: 10px;
}
#main-nav {
	list-style-type: none;
	height: 29px;
}
#main-nav li {
	float: left;
}
/* #main-nav li a{
color: #FFFFFF;
font-size: 13px;
padding-left: 10px;
padding-right: 10px;
text-decoration: none;
margin-right: 1px;
}

#main-nav li a:hover{
	background-color: #1d78b7;
	background-image: url(../images/nav-on.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding:10px;
}
.main-nav_on{
	background-color: #1d78b7;
	background-image: url(../images/nav-on.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding:10px;
} */

/*banner*/
#banner {
	background: #e9e6e6;
	width: 980px;
	height: 280px;
}
#banner .left {
	padding-left: 5px;
	padding-top: 10px;
}
.left {
	width: 500px;
	float: left;
	height: 250px;
}
.line {
	height: 200px;
	width: 2px;
	background-image: url(../images/line-banner.jpg);
	float: left;
	margin: 25px 10px 25px 10px;
}
.right {
	width: 450px;
	float: left;
	padding-top: 25px; /* padding-bottom:25px; */
}
#chart1 {
	width: 100% !important;
}
.track-heading {
	font-size: 48px;
	color: #474d5b;
	font-family: HelveticaNeueLTCom37ThCn;
}
/*content */
#content-left {
	float: left;
	margin-right: 25px;
	width: 475px;
}
#content-right {
	float: left;
	width: 475px;
}
#bullets {
	list-style-image: url(../images/bullet.gif);
	color: #3fa4dc;
	margin-left: 16px;
	margin-top: 8px;
}
#bullets li {
	margin-bottom: 4px;
}
#bullets2 {
	list-style-image: url(../images/bullet2.gif);
	color: #e6e6e6;
	margin-left: 25px;
	margin-top: 8px;
}
#bullets2 li {
	margin-bottom: 4px;
}
/* login content */
#login-content-left {
	float: left;
	margin-right: 50px;
	width: 580px;
	margin-top: 20px;
}
#login-content-right {
	float: left;
	width: 320px;
	margin-top: 20px;
}
.blue {
	color: #1d78b7;
}
/* #registration #content-left{float: left; margin-right:10px; width: 300px;}

#registration #content-right{float: left; width: 670px;}
#registration p{ padding-bottom: 10px; }
#registration input{ margin-bottom: 2px; } */

#login .register_hacks #content-left {
	float: left;
	margin-right: 10px;
	margin-top: 0px;
	width: 300px;
}
#login .register_hacks #content-right {
	float: left;
	width: 670px;
	margin-top: 0px;
}
#login .register_hacks p {
	padding-bottom: 10px;
}
#login .register_hacks input {
	margin-bottom: 3px;
	width: 260px;
}
#question-left {
	float: left;
	width: 100px;
}
#question-left p {
	padding-bottom: 10px;
}
#question-right input {
	margin-bottom: 6px;
}
#question-right {
	float: left;
	width: 200px;
}
/*journal */
#journal {
	background-color: #e9e6e6;
	width: 980px;
	position: relative;
}
#ajaxReturn_b {
 *position:absolute;
	_position: absolute;
	z-index: 200;
}
.banner-nav-top {
	padding-right: 10px;
	float: left;
}
.banner-nav-left {
	padding-bottom: 15px;
}
.journal-left {
	width: 240px;
	float: left;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 25px;
	padding-left: 25px;
}
.journal-right {
	width: 665px;
	float: left;
	padding-top: 25px;
	padding-bottom: 40px;
	padding-right: 25px;
}
.journal-text {
	color: #8b8a8a;
	font-size: 14px;
	line-height: 25px;
	display: block;
	font-family: HelveticaNeueLTStd45Light;
	float: left;
	font-weight: bold; /* margin-left:32px */
}
.table-heading {
	font-family: HelveticaNeueLTCom37ThCn;
	font-size: 30px;
	color: #1d78b7;
	line-height: 30px;
	margin-right: 25px;
}
.table-subheading {
	font-family: HelveticaNeueLTCom37ThCn;
	font-size: 20px;
	color: #e6e6e6;
	line-height: 25px;
	margin-top: 10px;
	font-weight: bold;
}
/*edit profile*/
.profile-table {
	color: #807f7f;
}
.profile-table input, .profile-table select {
	color: #807f7f;
	margin-bottom: 9px;
 *margin-bottom: 8px;
	_margin-bottom: 8px;
}
.profile-table p {
	padding-bottom: 9px;
}
.profile-left {
	width: 340px;
	float: left;
	margin-bottom: 20px;
}
.profile-right {
	width: 315px;
	float: left;
	text-align: right;
	margin-bottom: 20px;
}
.profile-formR {
	width: 250px;
	float: left;
}
.profile-formL {
	width: 250px;
	color: #807f7f;
}
.profile-formboth {
	width: 320px;
	float: left;
	color: #807f7f;
}
.profile-bmiboth {
	width: 620px;
	float: left;
	color: #807f7f;
	margin-bottom: 25px;
	margin-top: 15px;
}
.progress-formR {
	width: 180px;
	float: left;
	color: #807f7f;
}
.progress-formL {
	width: 150px;
	float: left;
	color: #807f7f;
}
.progress-formboth {
	width: 320px;
	float: left;
	color: #807f7f;
}
.progress-bmiboth {
	width: 620px;
	float: left;
	color: #807f7f;
	margin-bottom: 25px;
	margin-top: 15px;
}
/*journal */

.view-nav {
	padding-right: 5px;
	vertical-align: text-top;
}
.view-text {
	font-family: HelveticaLTStdBoldCondensed;
	font-size: 20px;
	color: #1d78b7;
	line-height: 25px;
	text-align: right;/* width: 560px; */
}
#edits {
	text-align: right;
	height: 25px;
}
#views {
	text-align: right;
	margin-top: 46px;
	/* float:right; */
	margin-right: 10px;
 *margin-top: 60px;
	_margin-top: 60px;
}
.viewicons {
	vertical-align: middle;
	padding-left: 5px;
	float: left;
	text-align: right;
}
/*icons */
.icons {
	vertical-align: middle;
	padding-right: 5px;
	float: left;
	width: 51px;
}
.icons-text {
	font-size: 20px;
	color: #1d78b7;
	float: left;
	line-height: 45px;
}
.print-icon {
	padding-bottom: 29px;
	padding-top: 15px;
	text-align: right;
	width: 475px;
	padding-left: 354px;
}
/*footer */
#footer {
	height: 23px;
	padding-top: 150px;
	padding-bottom: 50px;
}
#footer a {
	text-decoration: none;
	color: #e6e6e6;
}
#footer a:hover {
	text-decoration: underline;
	color: #1d78b7;
}
#foot-left {
	float: left;
	width: 490px;
}
#foot-right {
	float: left;
	text-align: right;
	width: 490px;
}
#ajaxHolder {
	position: relative;
}
#loading {
	z-index: 200;
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #000000;
	/* Theoretically for IE 8 & 9 (more valid) */
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=50);
	/* Older than Firefox 0.9 */
	-moz-opacity: 0.5;
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.5;
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.5;
}
#load_img_div {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 160px;
}
.validation_errors {
	color: #E4494E;
	font-size: 13px;
	margin-left: 5px;
}
.validation_success {
	color: #1D9E4A;
	font-size: 13px;
	margin-left: 5px;
}
#bmi h3, #bmi h1, #bmi h4 {
	color: #1d78b7;
	margin-bottom: 30px;
}
#bmi p {
	color: #807f7f;
	margin-bottom: 20px;
	line-height: 20px;
}
#bmi #inputBMI {
	background-color: #807F7F;
	padding: 10px;
	color: #fff;
}
#bmi input {
	padding: 5px;
	font-size: 12px;
	color: #1d78b7;
}
#bmi #inputBMI p {
	color: #fff;
	margin: 0px;
	font-weight: strong;
}
#bmi #bmioutput {
	background: #1d78b7;
	padding: 10px;
}
#bmi #bmioutput #bmiMessage {
	color: #fff;
	font-size: 12px;
}
#bmi #bmioutput p, #bmi #bmioutput h4 {
	color: #fff;
}
#bmi .hide {
	display: none;
}
.chartContainer {
	margin-top: 5px;
}
#login-content-right #loginTable {
	width: 320px;
}
#login-content-right #loginTable td {
	padding: 5px;
}
#login-content-right #loginTable td input {
	width: 160px;
	padding: 4px;
	font-size: 11px;
}
#login-content-right #loginTable #loginButton {
	width: 82px;
	height: 23px;
	padding: 0px;
}
.forgotpass {
	position: relative;
}
#mealplan h3, #mealplan h1, #mealplan h4 {
	color: #1d78b7;
	margin-bottom: 30px;
}
#mealplan p {
	color: #807f7f;
	margin-bottom: 20px;
	line-height: 20px;
}
#mealplan input {
	padding: 5px;
	font-size: 12px;
	color: #1d78b7;
}
#mealplan #mealplanoutput {
	background: #1d78b7;
	padding: 10px;
}
#mealplan #mealplanoutput #mealplanMessage {
	color: #fff;
	font-size: 12px;
}
#mealplan #mealplanoutput h3 {
	margin: 0px;
}
#mealplan #mealplanoutput p, #mealplan #mealplanoutput h3, #mealplan #mealplanoutput a {
	color: #fff;
}
#mealplan #mealplanoutput a {
	text-decoration: underline;
}
#mealplan .hide {
	display: none;
}
.report_input {
	background: none;
	width: 74px;
	border: none;
	color: #807F7F;
	font-weight: bold;
	text-align: right;
}
#sitemap ul li a {
	color: #fff;
	font-weight: normal;
}
#graph_indicator {
	background: url(../images/actual-goal.gif) center right no-repeat;
	background-color: #CFCECE;
	padding-right: 99px;
	padding-left: 5px;
	margin-right: 10px;
	font-family: HelveticaNeueLTCom37ThCn;
	font-size: 24px;
	font-weight: bold;
}
/*Responsive Code*/
.left-edit {
	float: left;
	width: 49%;
}
.right-edit {
	float: right;
	width: 49%;
}
.jqplot-xaxis {
	left: 5px !important;
	width: auto !important;
}
.left-r {
	width: 35%;
}
.right-r {
}
.jqplot-yaxis div:last-child {
	top: 0px !important;
}
span {
	color: #1D78B7;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}
 @media only screen and (min-width: 340px) and (max-width: 599px) {
.progress-formL table tr td.devide {
	width: 150px !important;
}
}
 @media only screen and (max-width: 599px) {
#wrapper, #container, .sg-35, .sg-25, .sg-11, #main-nav_cont {
	width: 100%;
}
#container {
	margin-left: 0px !important;
}
#login #login-content-right {
	width: 98%;
}
#login #content {
	margin-left: 0px !important;
	margin-right: 0 !important;
}
.sg-9 {
	text-align: center;
	margin-left: 0px !important;
	width: 100%;
	margin: 0px;
}
#login-content-left {
	width: auto;
	margin-right: 10px;
	margin-left: 10px;
}
#content {
	width: 100%;
}
#top-nav {
	float: none;
	text-align: center;
}
#main-nav_cont ul li {
	width: 50%;
}
h1 {
	font-size: 21px;
}
h2 {
	font-size: 22px;
	line-height: 10px;
}
h3 {
	font-size: 20px;
	line-height: 24px;
}
h4 {
	font-size: 30px;
}
.sg-35 {
	margin-left: 10px !important;
}
#banner {
	height: auto;
	width: 95% !important;
	padding-bottom: 10px;
}
#banner .right {
	float: none;
	background-color: #EAE6E5;
	width: 100%;
	margin-right: 10px;
	padding-bottom: 40px;
}
#banner .left, #banner .line {
	display: none;
}
#both {
	margin-right: 10px;
}
#content-left {
	width: 95%;
	margin: 0px;
	padding-bottom: 20px;
	float: none;
}
#content-right, #journal {
	width: 95%;
	margin: 0px;
	float: none;
}
.track-heading {
	font-size: 28px;
	padding-left: 10px;
}
.progress-formL table tr td {
	/*	display: inline-block !important;
	width: 100%;
	padding-left: 20px;*/
	display: inline-block !important;
	float: left;
	width: auto;
}
.progress-formL table tr td.label {
	width: 120px !important;
}
.progress-formL {
	width: 100%;
}
#foot-left, #foot-right {
	width: 100%;
	float: none;
	text-align: left;
	padding-top: 10px;
}
.print-icon {
	width: 100%;
	text-align: left;
	padding-left: 10px;
}
.journal-left {
	float: none;
}
.journal-right {
	width: 100%;
	padding-right: 0px;
	padding-left: 5px;
}
#bmi {
	padding: 5px;
}
#edits {
	clear: both;
	height: 100px !important;
	position: static !important;
	text-align: right;
}
#chart1 {
	width: 100% !important;
}
.entrybox, .editbox, .changebox {
	left: 0px !important;
}
.editbox1, .editbox2, .editbox3 {
	background: #fff !important;
	margin-top: 12px;
}
.loginContainer {
	text-align: center;
}
.loginBoxes {
	top: 39px !important;
}
#latestEntry {
	text-align: center !important;
}
#edits ul li {
	width: 95% !important;
}
#edits div {
	float: none !important;
}
.profile-right {
	width: 100%;
	text-align: center;
}
.profile-table {
	width: 95%;
}
.profile-table td {
	width: 100%;
	display: inline-block;
}
.profile-table td input {
	padding: 5px;
	width: 90%;
}
#graph_indicator {
	display: inline-table;
	width: 100%;
	text-align: left;
	margin-bottom: 15px;
	padding-right: 0px !important;
}
.left-edit {
	float: none;
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
}
.right-edit {
	float: none;
	width: 100%;
	padding: 5px;
}
#bmi #bmiHeight, #bmi #bmiKG {
	width: 95%;
}
#mealplan {
	padding: 10px;
}
#login table {
	margin-left: 20px;
	width: 90% !important;
}
#login h1 {
	font-size: 30px;
}
.left-r {
	display: inline-block;
	width: 100%;
}
.right-r {
	display: inline-block;
	width: 100%;
}
.smallt {
	font-size: 11px;
	display: inline-block;
	width: 100%;
}
.defaultTheme {
	width: 80% !important;
	background: #2B6EA2 !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px !important;
	left: auto !important;
	margin-left: 20px !important;
}
#TB_window {
	left: auto !important;
	margin-top: 0 !important;
	width: 95% !important;
	right: 5px !important;
}
#TB_iframeContent {
	width: 100% !important;
	height: 300px !important;
	overflow-y: scroll; /* has to be scroll, not auto */
	/*-webkit-overflow-scrolling: touch;*/
}
#TB_iframeContent #copy
{width: 90% !important;}
.report_input {
	width: 85px;
}
}
 @media only screen and (min-width: 600px) and (max-width: 767px) {
#wrapper, #container, .sg-35, .sg-11, #main-nav_cont {
	width: 100%;
}
.sg-9 {
	text-align: left;
	margin-left: 15px !important;
	width: 40%;
	margin: 0px;
	float: left;
}
.sg-25 {
	text-align: left;
	margin-left: 15px !important;
	width: 40%;
	margin: 0px;
	float: right;
}
.sg-11 {
	width: 45% !important;
}
.sg-11 img {
	width: 100%;
}
#login-content-left {
	width: 90%;
	margin-right: 0px;
	margin-left: 0px;
}
#content {
	width: 98%;
}
#container {
	margin: 0px !important;
}
#top-nav {
	float: none;
	text-align: center;
}
.main-nav_cont {
	margin-top: 20px;
}
#main-nav_cont ul li {
	width: 29%;
}
h1 {
	font-size: 21px;
}
h2 {
	font-size: 22px;
	line-height: 10px;
}
h3 {
	font-size: 20px;
	line-height: 24px;
}
h4 {
	font-size: 30px;
}
.sg-35 {
	margin-left: 15px !important;
}
#banner {
	height: auto;
	width: 95% !important;
}
#banner .right {
	float: none;
	background-color: #EAE6E5;
	width: 100%;
	margin-right: 10px;
	padding-bottom: 40px;
}
#banner .left, #banner .line {
	display: none;
}
#both {
	margin-right: 10px;
}
#content-left {
	width: 95%;
	margin: 0px;
	padding-bottom: 20px;
	float: none;
}
#content-right, #journal {
	width: 95%;
	margin: 0px;
	float: none;
}
.track-heading {
	font-size: 28px;
	padding-left: 10px;
}
#foot-left, #foot-right {
	width: 49%;
	float: left;
	text-align: left;
	padding-top: 10px;
}
.print-icon {
	width: 100%;
	text-align: left;
	padding-left: 10px;
}
.journal-left {
	float: none;
}
.journal-right {
	width: 100%;
	padding-right: 0px;
	padding-left: 5px;
}
#bmi {
	padding: 5px;
}
#edits {
	clear: both;
	height: 100px !important;
	position: static !important;
	text-align: right;
}
#chart1 {
	width: 100% !important;
}
.entrybox, .editbox, .changebox {
	left: 0px !important;
}
.editbox1, .editbox2, .editbox3 {
	background: #fff !important;
	margin-top: 12px;
}
.loginContainer {
	text-align: center;
}
.loginBoxes {
	top: 39px !important;
}
#latestEntry {
	text-align: center !important;
}
#edits ul li {
	width: 95% !important;
}
#edits div {
	float: none !important;
}
.profile-right {
	width: 100%;
	text-align: center;
}
.profile-table {
	width: 95%;
}
.profile-table td {
	width: 100%;
}
.profile-table td input {
	padding: 5px;
}
#graph_indicator {
	display: inline-table;
	width: 100%;
	text-align: left;
	margin-bottom: 15px;
	padding-right: 0px !important;
}
.left-edit {
	float: none;
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
}
.right-edit {
	float: none;
	width: 100%;
	padding: 5px;
}
#mealplan {
	padding: 10px;
}
.defaultTheme {
	width: 200px !important;
	background: #2B6EA2 !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px !important;
}
#TB_window {
	display: block;
	margin-left: -285px !important;
	margin-top: -349px !important;
	width: 95% !important;
}
#TB_iframeContent {
	width: 100% !important;
	height: 600px !important;
}
.label {
	width: 120px !important;
}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
#wrapper, #container, .sg-35, .sg-11 {
	width: 100%;
}
#main-nav_cont {
	width: 98%;
}
.sg-9 {
	text-align: left;
	margin-left: 15px !important;
	width: 40%;
	margin: 0px;
	float: left;
}
.sg-25 {
	text-align: left;
	margin-left: 15px !important;
	width: 40%;
	margin: 0px;
	float: right;
}
.sg-11 {
	width: 29% !important;
}
.sg-11 img {
	width: 100%;
}
#login-content-left {
	width: 90%;
	margin-right: 0px;
	margin-left: 0px;
}
#content {
	margin: 0px;
}
#top-nav {
	float: none;
	text-align: center;
}
.main-nav_cont {
	margin-top: 20px;
}
h1 {
	font-size: 21px;
}
h2 {
	font-size: 22px;
	line-height: 10px;
}
h3 {
	font-size: 20px;
	line-height: 24px;
}
h4 {
	font-size: 30px;
}
.sg-35 {
	margin-left: 15px !important;
}
#banner {
	height: auto;
	width: 98% !important;
}
#banner .right {
	float: none;
	background-color: #EAE6E5;
	width: 100%;
	margin-right: 10px;
	padding-bottom: 40px;
}
#banner .left, #banner .line {
	display: none;
}
#both {
	margin-right: 10px;
}
#content-left {
	width: 95%;
	margin: 0px;
	padding-bottom: 20px;
	float: none;
}
#content-right, #journal {
	width: 98%;
	margin: 0px;
	float: none;
}
.track-heading {
	font-size: 28px;
	padding-left: 10px;
}
#foot-left, #foot-right {
	width: 49%;
	float: left;
	text-align: left;
	padding-top: 10px;
}
.print-icon {
	width: 100%;
	text-align: left;
	padding-left: 10px;
}
.journal-right {
	width: 65%;
	padding-right: 0px;
	padding-left: 5px;
}
.journal-left {
	width: 24%;
}
#chart1 {
	width: 100% !important;
}
#bmi {
	padding: 5px;
}
.profile-right {
	width: 100%;
	text-align: center;
}
.profile-table {
	width: 95%;
}
.profile-table td {
	width: 100%;
}
.profile-table td input {
	padding: 5px;
}
#graph_indicator {
	display: inline-table;
	width: 100%;
	text-align: left;
	margin-bottom: 15px;
	padding-right: 0px !important;
}
.left-edit {
	float: none;
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
}
.right-edit {
	float: none;
	width: 100%;
	padding: 5px;
}
#edits ul li {
	padding: 12px 0 0 5px !important;
}
.entrybox, .editbox, .changebox {
	right: -22px !important;
}
.defaultTheme {
	width: 200px !important;
	background: #2B6EA2 !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px !important;
}
#TB_window {
	display: block;
	margin-left: -380px !important;
	margin-top: -280px !important;
	width: 95% !important;
}
#TB_iframeContent {
	width: 100% !important;
	height: 550px !important;
}
.label {
	width: 120px !important;
}
}
/*Responsive Code*/
