/* tooltip styling */
.tooltip {
	display:none;
	/*background:url(http://static.flowplayer.org/tools/img/tooltip/black_arrow_big.png);*/
	background:url(../images/tooltip1.png);
	height:121px;
	width:310px;
	font-size:12px;
	color:#fff;
	padding-top: 40px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
}

/* a .label element inside tooltip */
.tooltip .label {
	color:yellow;
	width:35px;
}

.tooltip a {
	color:#ad4;
	font-size:11px;
	font-weight:bold;
}

/*------------------------------------*/

/* 
	Required Styles
*/
#aToolTip {
	position: absolute;
	display: none;
	z-index: 50000;
}
#aToolTip .aToolTipContent {
	position: relative;
	margin: 0;
	padding: 0;
}
/* 
	END: Required Styles
*/
/**
	Default Theme
*/
.defaultTheme {
	background:url(../images/tooltip1.png);
	height:121px;
	width:310px;
	font-size:12px;
	color:#fff;
	padding-top: 40px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
}
.defaultTheme #aToolTipCloseBtn {
	display: block;
	height: 18px;
	width: 18px;
	background: url(../images/closeBtn.png) no-repeat;
	text-indent: -9999px;
	outline: none;
	position: absolute;
	top: -20px;
	right: -30px;
	margin: 2px;
	padding: 4px;
}
