{include file='top_login.tpl'}
<div class="clear"></div>

<!-- end top section -->
<div id="content" class="sg-35 register_hacks">
  <div id="ajaxHolder"> 
    <!-- <div id="loading"><div id="load_img_div"><img src="images/loading.gif" /></div></div> -->
    <div id="ajaxReturn_b">
      <div id="content-left" style="width: 650px;">
        <h3>Your account has been activated!</h3>
        <p>This website will be your support on your weight loss journey.</p>
        <p>Please login with the username and password that was provided to you in the email.</p>
      </div>
      <!-- <div id="content-right" style="width: 250px;"><h1>LOGIN</h1>
      <table width="250" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="92" height="39">Username:</td>
          <td width="158" align="right"><input style="width:160px;" name="input" type="text" /></td>
        </tr>
        <tr>
          <td height="39">Password:</td>
          <td align="right"><input style="width:160px;" type="text" name="textfield" id="textfield" /></td>
        </tr>
        <tr>
          <td height="39" colspan="2"><img src="images/forgot-pass.gif" width="203" height="27" /></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td align="right"><img src="images/submit-btn.gif" width="82" height="23" /></td>
        </tr>
      </table>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>
        <label></label>
        </p>
    </div>  -->
      
      <div id="login-content-right">
        <div id="loginBox">
          <h1>LOGIN</h1>
          <div id="loginResponse" style="display:none;">
            <h3>The following errors has occured:</h3>
            <ul id="loginErrors" style="margin-bottom: 10px;">
            </ul>
          </div>
          <form name="login" method="POST" action="clogin.php">
            <table border="0" id="loginTable">
              <tr>
                <td>Username:</td>
                <td><input name="uname" id="uname" type="text" /></td>
              </tr>
              <tr>
                <td>Password:</td>
                <td><input type="password" name="upass" id="upass" /></td>
              </tr>
              <tr>
                <td colspan=2><a href="" id="forgotpassButton"><img src="images/forgot-pass.gif" width="163" height="23" /></a>
                  <input type="image" src="images/submit-btn.gif" name="submit" id="loginButton" /></td>
              </tr>
            </table>
          </form>
        </div>
        <!-- login -->
        <div id="forgotpass" style="display: none;" class="forgotpass">
          <div id="loading">
            <div id="load_img_div"><img src="images/loading.gif" /></div>
          </div>
          <h1 style="line-height:40px;">FORGOT PASSWORD</h1>
          <div id="forgotResponse" style="display:none;">
            <h3>The following errors has occured:</h3>
            <ul id="forgotErrors" style="margin-bottom: 10px;">
            </ul>
          </div>
          <p>Provide us with your username and we'll send you your password to your email address:</p>
          <table border="0" id="loginTable">
            <tr>
              <td>Username:</td>
              <td><input name="forgotUname" id="forgotUname" type="text" /></td>
            </tr>
            <tr>
              <td colspan=2><a href="#" id="forgotButton"><img src="images/submit-btn.gif" /></a></td>
            </tr>
          </table>
        </div>
        <!-- forgotpass -->
        <p>
          <label></label>
        </p>
      </div>
    </div>
    <div id="clear">&nbsp;</div>
  </div>
  {include file='bottom_login.tpl'}</div>
