<div id="footer" class="sg-35">
  <div id="foot-left">&copy; {php} echo date("Y"); {/php}, ilivelite. All rights reserved</div>
  <div id="foot-right"><a href="disclaimer/">Legal Notice</a> | <a href="sitemap/">Sitemap</a> | <a href="privacy/">Privacy Policy</a> <!--| <a href="javascript:testFromHTML()" class="button">Run Code</a>--></div>
</div>
{php}file_put_contents('test.html', ob_get_contents());{/php}</body>
</html>