


<div class="clear"></div>
<div id="banner">
<p class="track-heading"><span>Track</span> your progress</p>
<br />
<a href="journal/">
<div class="chartContainer" id="chart_container">&nbsp;</div>
</a> 
</div>
<!-- end body section --> 
{include file='chart_loader.tpl'}