{include file='top.tpl'}
<div class="clear"></div>

{literal}
{/literal}

<div class="register_hacks">
<div id="content" class="sg-36">
<div id="banner">
  <div id="login-content-right" style="margin-left: 314px !important; margin-top: 55px !important;">
      <div class="loginBox">
  
    <div class="loginBox">
        <h1>Insert <span>Doctor Code</span></h1>
        
        <form name="" method="POST" action="includes/update-doctcode.php">
          <table border="0" id="loginTable">
            <tr>
              <td colspan="2"><input style='text-transform:uppercase' name="doctorcode" id="doctorcode" maxlength="10" type="text" placeholder="Doctor Code:" required/></td>
            </tr>
            <tr>
              <td><input type="submit" name="submit" id="check-valid" value="Submit"/></td>
            </tr>
          </table>
        </form>
      </div>
  </div>
  </div>
  </div>
</div>
</div>
<!--end banner-->



<!-- end top section -->
<div class="clear" ></div>
<!-- end top section -->

<!-- end body section --> 
{include file='chart_loader.tpl'}
{include file='bottom.tpl'}