<div class="journal-left">
  <h1><span>My</span> journal</h1>
  <p><a href="editprofile/"><img src="images/edit-profile.png" name="Image10"  border="0" class="banner-nav-left" id="Image10" /></a> </p>
  <p><a href="report/"><img src="images/print-reports.png" name="Image14"  border="0" class="banner-nav-left" id="Image14" /></a> </p>
  <p><a href="mealplan/"><img src="images/download-mealplan.png" name="Image15"  border="0" class="banner-nav-left" id="Image15" /></a></p>
  <p><a href="bmi/"><img src="images/bmi-calculator.png" name="Image16"  border="0" class="banner-nav-left" id="Image16" /></a></p>
  <p><a href="journal/"><img src="images/back.png" name="Image117" border="0" class="banner-nav-left" id="Image117" /></a></p>
  <p><a id="printGraph" href="/iframe.html?height=100&width=250" class="thickbox" style="cursor:pointer;"><img src="images/download-graph.png" name="Image118" border="0" class="banner-nav-left" id="Image118" /></a></p>
</div>
