{include file='top_login.tpl'} 

<!-- end top section -->
<div class="register_hacks">
  <div id="content" class="sg-35">
    <div id="ajaxHolder" style="*height:980px; _height:980px;">
      <div id="loading">
        <div id="load_img_div"><img src="images/loading.gif" /></div>
      </div>
      <div id="ajaxReturn_b"> {$form} </div>
      <div id="clear">&nbsp;</div>
    </div>
  </div>
</div>
{include file='bottom_login.tpl'}